infra/n8n-workflows/backups/legacy-v1-2026-06-23/03-handoff-human.json
{
  "updatedAt": "2026-06-23T13:54:21.683Z",
  "createdAt": "2026-06-23T13:54:21.683Z",
  "id": "OQRIOVHcOjpkQ0Of",
  "name": "03 - Handoff Humano (Chatwoot)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "81919720c13e",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c688c130",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "03189b45",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "handoff-human",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Handoff",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "handoff-human-v1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalizar payload + gerar source_id idempotente\nconst item = $input.item.json;\nconst body = item.body || {};\nconst sender = body.sender || 'unknown';\nconst text = (body.message && body.message.text) || '';\nconst reason = body.reason || 'unspecified';\nconst message_id = body.message_id || `${sender}-${Date.now()}`;\nconst instance = body.instance || 'unknown';\n\n// Inbox URL fallback (sempre retornado mesmo se Chatwoot falhar)\nconst inbox_url = `https://chatwoot.2notasudi.com.br/app/accounts/1/conversations?search=${encodeURIComponent(sender)}`;\n\nreturn { json: {\n  sender,\n  text,\n  reason,\n  message_id,\n  instance,\n  inbox_url,\n  payload: {\n    source_id: message_id,\n    contact: { phone_number: sender },\n    message: { content: text },\n    custom_attributes: {\n      handoff_reason: reason,\n      origin: 'cartorio-bot'\n    }\n  }\n}};"
      },
      "id": "normalize-payload",
      "name": "Normalizar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.2notasudi.com.br/api/v1/accounts/1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Request-Source",
              "value": "n8n-workflow-03"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "allowUnauthorizedCerts": false
        }
      },
      "id": "chatwoot-conv",
      "name": "Chatwoot Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ],
      "onError": "continueErrorOutput",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"handoff\",\n  \"response\": \"Transferi para um atendente humano. Acesse: {{ $('Normalizar Payload').item.json.inbox_url }}\",\n  \"chatwoot_status\": \"{{ $json.statusCode || 'unavailable' }}\",\n  \"sender\": \"{{ $('Normalizar Payload').item.json.sender }}\",\n  \"message_id\": \"{{ $('Normalizar Payload').item.json.message_id }}\",\n  \"reason\": \"{{ $('Normalizar Payload').item.json.reason }}\"\n}"
      },
      "id": "respond-ok",
      "name": "Respond Handoff",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "id": "0cf89642850f",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2167e95",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "eef8aad2dbd7",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"n8n\",\n  \"wf_name\": $workflow.name,\n  \"wf_id\": $workflow.id,\n  \"execution_id\": $execution.id,\n  \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id,\n  \"status\": $execution.success ? 'success' : 'error',\n  \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'),\n  \"counters\": {\n    \"n8n_wf_executions_total\": {\n      \"workflow=$workflow.name|status=success\": $execution.success ? 1 : 0,\n      \"workflow=$workflow.name|status=error\": $execution.success ? 0 : 1\n    },\n    \"n8n_wf_errors_total\": {\n      \"workflow=$workflow.name|error_type=generic\": $execution.success ? 0 : 1\n    }\n  },\n  \"gauges\": {\n    \"n8n_wf_execution_duration_seconds\": {\n      \"workflow=$workflow.name\": $now.diff($json.wf_started_at, 'seconds')\n    }\n  },\n  \"uptime_seconds\": $now.diff($json.wf_started_at, 'seconds')\n}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook Handoff": {
      "main": [
        [
          {
            "node": "Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Payload": {
      "main": [
        [
          {
            "node": "Chatwoot Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Conversation": {
      "main": [
        [
          {
            "node": "Respond Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "27db47e8-0b05-42be-9179-4eec7c82b648",
  "activeVersionId": "27db47e8-0b05-42be-9179-4eec7c82b648",
  "versionCounter": 1,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-23T13:54:21.683Z",
      "createdAt": "2026-06-23T13:54:21.683Z",
      "role": "workflow:owner",
      "workflowId": "OQRIOVHcOjpkQ0Of",
      "projectId": "IriLCUUa2YxjQSQ5",
      "project": {
        "updatedAt": "2026-06-23T01:34:55.592Z",
        "createdAt": "2026-06-22T19:27:08.156Z",
        "id": "IriLCUUa2YxjQSQ5",
        "name": "Gustavo  Rodrigues <gustavomar.fullstack@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-23T13:54:21.683Z",
    "createdAt": "2026-06-23T13:54:21.683Z",
    "versionId": "27db47e8-0b05-42be-9179-4eec7c82b648",
    "workflowId": "OQRIOVHcOjpkQ0Of",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "handoff-human",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook Handoff",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          240,
          300
        ],
        "webhookId": "handoff-human-v1"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Normalizar payload + gerar source_id idempotente\nconst item = $input.item.json;\nconst body = item.body || {};\nconst sender = body.sender || 'unknown';\nconst text = (body.message && body.message.text) || '';\nconst reason = body.reason || 'unspecified';\nconst message_id = body.message_id || `${sender}-${Date.now()}`;\nconst instance = body.instance || 'unknown';\n\n// Inbox URL fallback (sempre retornado mesmo se Chatwoot falhar)\nconst inbox_url = `https://chatwoot.2notasudi.com.br/app/accounts/1/conversations?search=${encodeURIComponent(sender)}`;\n\nreturn { json: {\n  sender,\n  text,\n  reason,\n  message_id,\n  instance,\n  inbox_url,\n  payload: {\n    source_id: message_id,\n    contact: { phone_number: sender },\n    message: { content: text },\n    custom_attributes: {\n      handoff_reason: reason,\n      origin: 'cartorio-bot'\n    }\n  }\n}};"
        },
        "id": "normalize-payload",
        "name": "Normalizar Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://chatwoot.2notasudi.com.br/api/v1/accounts/1/conversations",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Request-Source",
                "value": "n8n-workflow-03"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.payload) }}",
          "options": {
            "timeout": 15000,
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "allowUnauthorizedCerts": false
          }
        },
        "id": "chatwoot-conv",
        "name": "Chatwoot Conversation",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          680,
          300
        ],
        "onError": "continueErrorOutput",
        "retryOnFail": false,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"handoff\",\n  \"response\": \"Transferi para um atendente humano. Acesse: {{ $('Normalizar Payload').item.json.inbox_url }}\",\n  \"chatwoot_status\": \"{{ $json.statusCode || 'unavailable' }}\",\n  \"sender\": \"{{ $('Normalizar Payload').item.json.sender }}\",\n  \"message_id\": \"{{ $('Normalizar Payload').item.json.message_id }}\",\n  \"reason\": \"{{ $('Normalizar Payload').item.json.reason }}\"\n}"
        },
        "id": "respond-ok",
        "name": "Respond Handoff",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          900,
          300
        ]
      }
    ],
    "connections": {
      "Webhook Handoff": {
        "main": [
          [
            {
              "node": "Normalizar Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Payload": {
        "main": [
          [
            {
              "node": "Chatwoot Conversation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chatwoot Conversation": {
        "main": [
          [
            {
              "node": "Respond Handoff",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Gustavo  Rodrigues",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-23T13:54:27.748Z",
        "id": 15,
        "workflowId": "OQRIOVHcOjpkQ0Of",
        "versionId": "27db47e8-0b05-42be-9179-4eec7c82b648",
        "event": "activated",
        "userId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    ]
  }
}