infra/n8n-workflows/backups/legacy-v1-2026-06-23/23-lgpd-esqueci.json
{
  "name": "23 - LGPD Esqueci (DELETE cliente + cascade + audit)",
  "description": "Cliente pede exclusao (LGPD art. 18 VI). Cascade: hard delete se sem protocolo, soft delete + retencao se tem.",
  "active": false,
  "nodes": [
    {
      "id": "bfc72b0f697b",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e40034c",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "76897e47",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lgpd-esqueci",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "lgpd-esqueci-webhook",
      "name": "LGPD Esqueci Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cliente_id",
              "name": "cliente_id",
              "value": "={{ $json.body.cliente_id }}",
              "type": "string"
            },
            {
              "id": "motivo",
              "name": "motivo",
              "value": "={{ $json.body.motivo || 'exercicio_direito_titular' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-cliente-id",
      "name": "Extract Cliente ID",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.2notasudi.com.br/api/v1/cliente/{{ $json.cliente_id }}/historico",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-cliente-(validar-consent)",
      "name": "GET Cliente Historico (validar consent)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        680,
        300
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-Pode Deletar?",
              "leftValue": "={{ $json.pode_deletar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "pode-deletar?",
      "name": "Pode Deletar?",
      "type": "n8n-nodes-base.if",
      "position": [
        900,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.2notasudi.com.br/api/v1/cliente/{{ $('Extract Cliente ID').item.json.cliente_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "delete-cliente-(lgpd-art.-18-vi)",
      "name": "DELETE Cliente (LGPD art. 18 VI)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        200
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.2notasudi.com.br/api/v1/cliente/{{ $('Extract Cliente ID').item.json.cliente_id }}/soft-delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"motivo\":\"{{ $(\"Extract Cliente ID\").item.json.motivo }}\",\"ts\":\"{{ $now }}\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "post-soft-delete",
      "name": "POST Soft Delete",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        400
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/audit/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"cliente.lgpd_delete\",\"actor\":\"n8n-wf23\",\"target\":\"{{ $(\"Extract Cliente ID\").item.json.cliente_id }}\",\"details\":{\"motivo\":\"{{ $(\"Extract Cliente ID\").item.json.motivo }}\",\"ts\":\"{{ $now }}\",\"wf\":\"n8n-wf23\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "post-audit-lgpd",
      "name": "POST Audit LGPD",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1340,
        300
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "id": "35a0a560b0d7",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "250a02dc",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "ac5b394d3128",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"n8n\",\n  \"wf_name\": $workflow.name,\n  \"wf_id\": $workflow.id,\n  \"execution_id\": $execution.id,\n  \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id,\n  \"status\": $execution.success ? 'success' : 'error',\n  \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'),\n  \"counters\": {\n    \"n8n_wf_executions_total\": {\n      \"workflow=$workflow.name|status=success\": $execution.success ? 1 : 0,\n      \"workflow=$workflow.name|status=error\": $execution.success ? 0 : 1\n    },\n    \"n8n_wf_errors_total\": {\n      \"workflow=$workflow.name|error_type=generic\": $execution.success ? 0 : 1\n    }\n  },\n  \"gauges\": {\n    \"n8n_wf_execution_duration_seconds\": {\n      \"workflow=$workflow.name\": $now.diff($json.wf_started_at, 'seconds')\n    }\n  },\n  \"uptime_seconds\": $now.diff($json.wf_started_at, 'seconds')\n}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "LGPD Esqueci Webhook": {
      "main": [
        [
          {
            "node": "Extract Cliente ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cliente ID": {
      "main": [
        [
          {
            "node": "GET Cliente Historico (validar consent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Cliente Historico (validar consent)": {
      "main": [
        [
          {
            "node": "Pode Deletar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode Deletar?": {
      "main": [
        [
          {
            "node": "DELETE Cliente (LGPD art. 18 VI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST Soft Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE Cliente (LGPD art. 18 VI)": {
      "main": [
        [
          {
            "node": "POST Audit LGPD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Soft Delete": {
      "main": [
        [
          {
            "node": "POST Audit LGPD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "lgpd"
    },
    {
      "name": "cliente"
    }
  ]
}