infra/n8n-workflows/00-error-handler.json
{
  "name": "00 - Error Handler Global (T25) v5",
  "description": "Global error handler for any N8N workflow. B6 fix 2026-06-25: posts to /api/v1/integrations/n8n/error (HMAC), formats Telegram alert, retries on ECONNREFUSED.",
  "active": false,
  "nodes": [
    {
      "id": "df09c57c4e3b",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78c215f6",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "31583914",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {},
      "id": "error-trigger-5",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf-name",
              "name": "wf_name",
              "value": "={{ $json.workflow?.name ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "wf-id",
              "name": "wf_id",
              "value": "={{ $json.workflow?.id ?? '' }}",
              "type": "string"
            },
            {
              "id": "exec-id",
              "name": "execution_id",
              "value": "={{ $json.executionId ?? ($json.execution?.id ?? 'unknown') }}",
              "type": "string"
            },
            {
              "id": "err-msg",
              "name": "error_message",
              "value": "={{ $json.error?.message ?? 'unknown error' }}",
              "type": "string"
            },
            {
              "id": "err-name",
              "name": "error_name",
              "value": "={{ $json.error?.name ?? 'Error' }}",
              "type": "string"
            },
            {
              "id": "ts",
              "name": "ts",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "node-name",
              "name": "node_name",
              "value": "={{ $json.node?.name ?? ($json.node?.type ?? 'unknown') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-5",
      "name": "Extract Error Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/integrations/n8n/error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-Signature",
              "value": "sha256={{ $binary.data ? Crypto.createHmac('sha256', $env.N8N_WEBHOOK_SECRET).update($binary.data).digest('hex') : '' }}"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_name\": \"{{ $json.wf_name }}\",\n  \"workflow_id\": \"{{ $json.wf_id }}\",\n  \"execution_id\": \"{{ $json.execution_id }}\",\n  \"error\": {\n    \"name\": \"{{ $json.error_name }}\",\n    \"message\": \"{{ $json.error_message }}\"\n  },\n  \"node\": \"{{ $json.node_name }}\",\n  \"timestamp\": \"{{ $json.ts }}\"\n}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "alert-backend-5",
      "name": "Alert Backend (HMAC)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Telegram message with MarkdownV2 (Telegram Bot API 2026-06-25)\n// B6 fix: escapeMarkdownV2() canonica + parse_mode=MarkdownV2.\n// Spec: https://core.telegram.org/bots/api#markdownv2-style\nfunction escapeMarkdownV2(s) {\n  if (s === null || s === undefined) return 'unknown';\n  return String(s).replace(/([_*[\\]()~`>#+\\-=|{}.!])/g, '\\$1');\n}\n\nconst wfName = $input.item.json.wf_name ?? 'unknown';\nconst execId = $input.item.json.execution_id ?? 'unknown';\nconst errMsg = $input.item.json.error_message ?? 'unknown error';\nconst errName = $input.item.json.error_name ?? 'Error';\nconst nodeName = $input.item.json.node_name ?? 'unknown';\nconst ts = $input.item.json.ts ?? new Date().toISOString();\n\nconst text = `\ud83d\udea8 *N8N ERRO*\n` +\n  `*WF:* ${escapeMarkdownV2(wfName)}\n` +\n  `*Exec:* \\`${escapeMarkdownV2(execId)}\\`\n` +\n  `*Node:* ${escapeMarkdownV2(nodeName)}\n` +\n  `*Erro:* \\`${escapeMarkdownV2(errName)}\\` \\\u2014 ${escapeMarkdownV2(errMsg)}\n` +\n  `*TS:* ${escapeMarkdownV2(ts)}`;\n\nreturn [{\n  json: {\n    chat_id: '-5006771024',\n    text: text,\n    parse_mode: 'MarkdownV2',\n    disable_web_page_preview: true\n  }\n}];"
      },
      "id": "telegram-format-5",
      "name": "Format Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "telegram-send-5",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-conn-refused",
              "leftValue": "={{ $json.error_message ?? '' }}",
              "rightValue": "ECONNREFUSED",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-econn-5",
      "name": "If ECONNREFUSED?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "wait-5",
      "name": "Wait 3s (backoff)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1560,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/integrations/n8n/error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_name\": \"{{ $('Extract Error Info').item.json.wf_name }}\",\n  \"workflow_id\": \"{{ $('Extract Error Info').item.json.wf_id }}\",\n  \"execution_id\": \"{{ $('Extract Error Info').item.json.execution_id }}\",\n  \"error\": {\n    \"name\": \"{{ $('Extract Error Info').item.json.error_name }}\",\n    \"message\": \"{{ $('Extract Error Info').item.json.error_message }} (retry 1/3)\"\n  },\n  \"node\": \"{{ $('Extract Error Info').item.json.node_name }}\",\n  \"timestamp\": \"{{ $('Extract Error Info').item.json.ts }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "retry-1-5",
      "name": "Retry Alert (1/3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        180
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "amount": 6,
        "unit": "seconds"
      },
      "id": "wait-2-5",
      "name": "Wait 6s (backoff 2)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/integrations/n8n/error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_name\": \"{{ $('Extract Error Info').item.json.wf_name }}\",\n  \"workflow_id\": \"{{ $('Extract Error Info').item.json.wf_id }}\",\n  \"execution_id\": \"{{ $('Extract Error Info').item.json.execution_id }}\",\n  \"error\": {\n    \"name\": \"{{ $('Extract Error Info').item.json.error_name }}\",\n    \"message\": \"{{ $('Extract Error Info').item.json.error_message }} (retry 2/3)\"\n  },\n  \"node\": \"{{ $('Extract Error Info').item.json.node_name }}\",\n  \"timestamp\": \"{{ $('Extract Error Info').item.json.ts }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "retry-2-5",
      "name": "Retry Alert (2/3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        180
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "amount": 12,
        "unit": "seconds"
      },
      "id": "wait-3-5",
      "name": "Wait 12s (backoff 3)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2440,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/integrations/n8n/error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_name\": \"{{ $('Extract Error Info').item.json.wf_name }}\",\n  \"workflow_id\": \"{{ $('Extract Error Info').item.json.wf_id }}\",\n  \"execution_id\": \"{{ $('Extract Error Info').item.json.execution_id }}\",\n  \"error\": {\n    \"name\": \"{{ $('Extract Error Info').item.json.error_name }}\",\n    \"message\": \"{{ $('Extract Error Info').item.json.error_message }} (retry 3/3 FINAL)\"\n  },\n  \"node\": \"{{ $('Extract Error Info').item.json.node_name }}\",\n  \"timestamp\": \"{{ $('Extract Error Info').item.json.ts }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "retry-3-5",
      "name": "Retry Alert (3/3 FINAL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        180
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "id": "26c8c4088c7d",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bf03ecd",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "e492fdf8d7bf",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"n8n\",\n  \"wf_name\": $workflow.name,\n  \"wf_id\": $workflow.id,\n  \"execution_id\": $execution.id,\n  \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id,\n  \"status\": $execution.success ? 'success' : 'error',\n  \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'),\n  \"counters\": {\n    \"n8n_wf_executions_total\": {\n      \"workflow=$workflow.name|status=success\": $execution.success ? 1 : 0,\n      \"workflow=$workflow.name|status=error\": $execution.success ? 0 : 1\n    },\n    \"n8n_wf_errors_total\": {\n      \"workflow=$workflow.name|error_type=generic\": $execution.success ? 0 : 1\n    }\n  },\n  \"gauges\": {\n    \"n8n_wf_execution_duration_seconds\": {\n      \"workflow=$workflow.name\": $now.diff($json.wf_started_at, 'seconds')\n    }\n  },\n  \"uptime_seconds\": $now.diff($json.wf_started_at, 'seconds')\n}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Extract Error Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Error Info": {
      "main": [
        [
          {
            "node": "Alert Backend (HMAC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Backend (HMAC)": {
      "main": [
        [
          {
            "node": "Format Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "If ECONNREFUSED?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If ECONNREFUSED?": {
      "main": [
        [
          {
            "node": "Wait 3s (backoff)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait 3s (backoff)": {
      "main": [
        [
          {
            "node": "Retry Alert (1/3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Alert (1/3)": {
      "main": [
        [
          {
            "node": "Wait 6s (backoff 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 6s (backoff 2)": {
      "main": [
        [
          {
            "node": "Retry Alert (2/3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Alert (2/3)": {
      "main": [
        [
          {
            "node": "Wait 12s (backoff 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 12s (backoff 3)": {
      "main": [
        [
          {
            "node": "Retry Alert (3/3 FINAL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "errorWorkflow": "4IS5oiLyHWGhtb8g"
  },
  "staticData": null,
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "monitor"
    },
    {
      "name": "error-handler"
    },
    {
      "name": "b6-fix"
    }
  ],
  "meta": {
    "description": "B6 fix 2026-06-25: wires to /integrations/n8n/error endpoint with HMAC + Telegram group + 3x exp backoff retry on ECONNREFUSED. Replaces v4 which pointed to legacy /atendimento endpoint.",
    "author": "cartorio-n8n worker",
    "ticket": "B6"
  }
}