infra/n8n-workflows/01-consulta-emolumento.json
{
  "_comment": "Workflow 1 - Consulta Emolumento (Cartorio 2 Notas Uberlandia). Trigger: webhook POST /webhook/consulta-emolumento. Flux: PII scrub -> IF (no PII) -> API /emolumento/calcular -> response. Se PII detectada, handoff humano. Owner: cartorio-n8n. Modified by Gustavo Almeida.",
  "name": "01 - Consulta Emolumento WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta-emolumento",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "consulta-emolumento-v1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// PII scrubbing pre-LLM (defesa em profundidade)\nconst item = $input.item.json;\nconst raw = (item.body && item.body.message && item.body.message.text) || '';\nconst sender = (item.body && item.body.sender) || 'unknown';\n\nconst patterns = {\n  cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g,\n  rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g,\n  phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g,\n  email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g\n};\n\nlet scrubbed = raw;\nlet findings = [];\nlet redactionCount = 0;\n\nfor (const [type, pattern] of Object.entries(patterns)) {\n  const matches = scrubbed.match(pattern);\n  if (matches) {\n    findings.push({ type, count: matches.length });\n    redactionCount += matches.length;\n    scrubbed = scrubbed.replace(pattern, `[${type.toUpperCase()}_REDACTED]`);\n  }\n}\n\n// Detectar tipo de emolumento baseado em keywords\nconst lower = scrubbed.toLowerCase();\nlet tipo = 'certidao_casamento'; // default conservador\nif (/casament/.test(lower)) tipo = 'certidao_casamento';\nelse if (/negativa/.test(lower)) tipo = 'certidao_negativa';\nelse if (/positiva/.test(lower)) tipo = 'certidao_positiva';\nelse if (/certid/.test(lower)) tipo = 'certidao_casamento';\nelse if (/compra.{0,3}venda|escritura.{0,3}compra/.test(lower)) tipo = 'escritura_compra_venda';\nelse if (/doaç|doacao/.test(lower)) tipo = 'escritura_doacao';\nelse if (/escritur/.test(lower)) tipo = 'escritura_compra_venda';\nelse if (/procur/.test(lower)) tipo = 'procuracao';\nelse if (/reconhec|firm/.test(lower)) tipo = 'reconhecimento_firma';\nelse if (/autent/.test(lower)) tipo = 'autenticacao';\nelse if (/nasc/.test(lower)) tipo = 'registro_nascimento';\nelse if (/óbito|obito/.test(lower)) tipo = 'registro_obito';\n\nreturn { json: { sender, raw, scrubbed, findings, redactionCount, tipo } };"
      },
      "id": "pii-scrub",
      "name": "PII Scrubber + Tipo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "pii-clean",
              "leftValue": "={{ $json.redactionCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-pii-clean",
      "name": "Sem PII?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "=https://api.2notasudi.com.br/api/v1/emolumento/calcular",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "tipo", "value": "={{ $json.tipo }}"},
            {"name": "folhas", "value": "1"},
            {"name": "urgencia", "value": "false"}
          ]
        },
        "options": {"timeout": 10000}
      },
      "id": "api-emolumento",
      "name": "API Emolumento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"response\": \"Valor do emolumento: R$ {{ $json.total }} (base: R$ {{ $json.base }}, tabela {{ $json.tabela_referencia }}, válido até {{ $json.valido_ate }})\",\n  \"tipo\": \"{{ $json.tipo }}\",\n  \"details\": {{ JSON.stringify($json) }}\n}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"handoff\",\n  \"response\": \"Recebi sua mensagem com dados sensíveis (CPF/RG/telefone/email detectados). Por segurança, vou transferir para um atendente humano. Aguarde um instante.\",\n  \"scrubbed\": \"{{ $json.scrubbed }}\",\n  \"findings\": {{ JSON.stringify($json.findings) }}\n}"
      },
      "id": "respond-handoff",
      "name": "Handoff Humano (PII)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {"main": [[{"node": "PII Scrubber + Tipo", "type": "main", "index": 0}]]},
    "PII Scrubber + Tipo": {"main": [[{"node": "Sem PII?", "type": "main", "index": 0}]]},
    "Sem PII?": {
      "main": [
        [{"node": "API Emolumento", "type": "main", "index": 0}],
        [{"node": "Handoff Humano (PII)", "type": "main", "index": 0}]
      ]
    },
    "API Emolumento": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}
