infra/n8n-workflows/01-consulta-emolumento.json
{"updatedAt":"2026-06-23T17:56:37.103Z","createdAt":"2026-06-23T13:50:22.808Z","id":"bR7qIo3bFpG4zgxO","name":"01 - Consulta Emolumento WhatsApp (v3)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"consulta-emolumento","responseMode":"responseNode","options":{}},"id":"webhook-01","name":"Webhook consulta-emolumento","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300],"webhookId":"consulta-emolumento-v1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item.json; const raw = (item.body && item.body.message && item.body.message.text) || (item.body && item.body.data && item.body.data.message && (item.body.data.message.conversation || item.body.data.message.extendedTextMessage?.text || '')) || ''; const sender = (item.body && (item.body.sender || item.body.data?.key?.remoteJid)) || 'unknown'; const patterns = { cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g, rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g, phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g, email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g }; let scrubbed = raw; let count = 0; for (const [t, p] of Object.entries(patterns)) { const m = scrubbed.match(p); if (m) { count += m.length; scrubbed = scrubbed.replace(p, '[' + t.toUpperCase() + '_REDACTED]'); } } return { json: { raw_text: raw, scrubbed_text: scrubbed, redaction_count: count, sender: sender } };"},"id":"pii-01","name":"PII Scrub","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const text = ($json.scrubbed_text || '').toLowerCase(); let tipo = 'certidao_casamento'; if (/casament/.test(text)) tipo = 'certidao_casamento'; else if (/negativa/.test(text)) tipo = 'certidao_negativa'; else if (/positiva/.test(text)) tipo = 'certidao_positiva'; else if (/compra.{0,3}venda|escritura.{0,3}compra/.test(text)) tipo = 'escritura_compra_venda'; else if (/doaç|doacao/.test(text)) tipo = 'escritura_doacao'; else if (/escritur/.test(text)) tipo = 'escritura_compra_venda'; else if (/procur/.test(text)) tipo = 'procuracao'; else if (/reconhec|firm/.test(text)) tipo = 'reconhecimento_firma'; else if (/autentica/.test(text)) tipo = 'autenticacao'; const urgencia = /urgente|urgencia|rapido|agora|amanh/.test(text); return { json: { ...$json, tipo, urgencia } };"},"id":"parse-01","name":"Parse Tipo","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"operation":"get","dataTableId":"hYIzUvsive1IPJLa","filter":{"type":"string","conditions":[{"key":"phone","value":"={{ $json.sender }}"}]}},"id":"rl-01","name":"Rate Limit Check","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[900,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.count }}","rightValue":60,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}},"id":"rl-if-01","name":"Rate Limited?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,300]},{"parameters":{"method":"GET","url":"=https://api.2notasudi.com.br/api/v1/emolumento/calcular?tipo={{$json.tipo}}&urgencia={{$json.urgencia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.CARTORIO_API_KEY }}"}]},"options":{"timeout":8000,"retry":{"enabled":true,"maxTries":2}}},"id":"api-01","name":"API Emolumento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,200],"credentials":{"httpHeaderAuth":{"id":"ADNkyTP2e6uYskUZ","name":"cartorio-api-key"}}},{"parameters":{"method":"POST","url":"=https://api.2notasudi.com.br/api/v1/audit/verify/log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.CARTORIO_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={action: 'consulta_emolumento', workflow: '{{$workflow.name}}', execution_id: '{{$execution.id}}', tipo: '{{$json.tipo}}', valor_total: {{$json.total || 0}}}","options":{"timeout":5000}},"id":"audit-01","name":"Audit Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,200],"credentials":{"httpHeaderAuth":{"id":"ADNkyTP2e6uYskUZ","name":"cartorio-api-key"}},"onError":"continueRegularOutput"},{"parameters":{"respondWith":"json","responseBody":"={ok: {{$json.ok !== false}}, text: '{{$json.text || \"OK\"}}', valor_total: {{$json.total || 0}}, tipo: '{{$json.tipo}}'}"},"id":"respond-01","name":"Respond Emolumento","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1780,200]},{"parameters":{"respondWith":"json","responseBody":"={ok: false, blocked: true, reason: 'rate_limit', message: 'Limite de 60 consultas/min. Tente em 1 min.'}"},"id":"respond-rl-01","name":"Respond Rate Limited","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1340,500]}],"connections":{"Webhook consulta-emolumento":{"main":[[{"node":"PII Scrub","type":"main","index":0}]]},"PII Scrub":{"main":[[{"node":"Parse Tipo","type":"main","index":0}]]},"Parse Tipo":{"main":[[{"node":"Rate Limit Check","type":"main","index":0}]]},"Rate Limit Check":{"main":[[{"node":"Rate Limited?","type":"main","index":0}]]},"Rate Limited?":{"main":[[{"node":"API Emolumento","type":"main","index":0}],[{"node":"Respond Rate Limited","type":"main","index":0}]]},"API Emolumento":{"main":[[{"node":"Audit Log","type":"main","index":0}]]},"Audit Log":{"main":[[{"node":"Respond Emolumento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"4IS5oiLyHWGhtb8g","saveDataSuccessExecution":"all","saveDataErrorExecution":"all"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","activeVersionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","versionCounter":4,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-23T13:50:22.808Z","createdAt":"2026-06-23T13:50:22.808Z","role":"workflow:owner","workflowId":"bR7qIo3bFpG4zgxO","projectId":"IriLCUUa2YxjQSQ5","project":{"updatedAt":"2026-06-23T01:34:55.592Z","createdAt":"2026-06-22T19:27:08.156Z","id":"IriLCUUa2YxjQSQ5","name":"Gustavo  Rodrigues <gustavomar.fullstack@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"}}],"tags":[{"updatedAt":"2026-06-23T17:32:50.917Z","createdAt":"2026-06-23T17:32:50.917Z","id":"qIO7CBdOUpUxN8ZC","name":"cartorio"},{"updatedAt":"2026-06-23T17:32:51.010Z","createdAt":"2026-06-23T17:32:51.010Z","id":"54HXmR9SyLg5OFdJ","name":"whatsapp"},{"updatedAt":"2026-06-23T17:32:51.187Z","createdAt":"2026-06-23T17:32:51.187Z","id":"9DtKvuO6NoUQTGJp","name":"consulta"},{"updatedAt":"2026-06-23T17:32:52.312Z","createdAt":"2026-06-23T17:32:52.312Z","id":"eJJmZEUyE6wdhj5r","name":"emolumento"}],"activeVersion":{"updatedAt":"2026-06-23T17:54:26.440Z","createdAt":"2026-06-23T17:54:26.440Z","versionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","workflowId":"bR7qIo3bFpG4zgxO","nodes":[{"parameters":{"httpMethod":"POST","path":"consulta-emolumento","responseMode":"responseNode","options":{}},"id":"webhook-01","name":"Webhook consulta-emolumento","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300],"webhookId":"consulta-emolumento-v1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item.json; const raw = (item.body && item.body.message && item.body.message.text) || (item.body && item.body.data && item.body.data.message && (item.body.data.message.conversation || item.body.data.message.extendedTextMessage?.text || '')) || ''; const sender = (item.body && (item.body.sender || item.body.data?.key?.remoteJid)) || 'unknown'; const patterns = { cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g, rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g, phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g, email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g }; let scrubbed = raw; let count = 0; for (const [t, p] of Object.entries(patterns)) { const m = scrubbed.match(p); if (m) { count += m.length; scrubbed = scrubbed.replace(p, '[' + t.toUpperCase() + '_REDACTED]'); } } return { json: { raw_text: raw, scrubbed_text: scrubbed, redaction_count: count, sender: sender } };"},"id":"pii-01","name":"PII Scrub","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const text = ($json.scrubbed_text || '').toLowerCase(); let tipo = 'certidao_casamento'; if (/casament/.test(text)) tipo = 'certidao_casamento'; else if (/negativa/.test(text)) tipo = 'certidao_negativa'; else if (/positiva/.test(text)) tipo = 'certidao_positiva'; else if (/compra.{0,3}venda|escritura.{0,3}compra/.test(text)) tipo = 'escritura_compra_venda'; else if (/doaç|doacao/.test(text)) tipo = 'escritura_doacao'; else if (/escritur/.test(text)) tipo = 'escritura_compra_venda'; else if (/procur/.test(text)) tipo = 'procuracao'; else if (/reconhec|firm/.test(text)) tipo = 'reconhecimento_firma'; else if (/autentica/.test(text)) tipo = 'autenticacao'; const urgencia = /urgente|urgencia|rapido|agora|amanh/.test(text); return { json: { ...$json, tipo, urgencia } };"},"id":"parse-01","name":"Parse Tipo","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"operation":"get","dataTableId":"hYIzUvsive1IPJLa","filter":{"type":"string","conditions":[{"key":"phone","value":"={{ $json.sender }}"}]}},"id":"rl-01","name":"Rate Limit Check","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[900,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.count }}","rightValue":60,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}},"id":"rl-if-01","name":"Rate Limited?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,300]},{"parameters":{"method":"GET","url":"=https://api.2notasudi.com.br/api/v1/emolumento/calcular?tipo={{$json.tipo}}&urgencia={{$json.urgencia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.CARTORIO_API_KEY }}"}]},"options":{"timeout":8000,"retry":{"enabled":true,"maxTries":2}}},"id":"api-01","name":"API Emolumento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,200],"credentials":{"httpHeaderAuth":{"id":"ADNkyTP2e6uYskUZ","name":"cartorio-api-key"}}},{"parameters":{"method":"POST","url":"=https://api.2notasudi.com.br/api/v1/audit/verify/log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.CARTORIO_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={action: 'consulta_emolumento', workflow: '{{$workflow.name}}', execution_id: '{{$execution.id}}', tipo: '{{$json.tipo}}', valor_total: {{$json.total || 0}}}","options":{"timeout":5000}},"id":"audit-01","name":"Audit Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,200],"credentials":{"httpHeaderAuth":{"id":"ADNkyTP2e6uYskUZ","name":"cartorio-api-key"}},"onError":"continueRegularOutput"},{"parameters":{"respondWith":"json","responseBody":"={ok: {{$json.ok !== false}}, text: '{{$json.text || \"OK\"}}', valor_total: {{$json.total || 0}}, tipo: '{{$json.tipo}}'}"},"id":"respond-01","name":"Respond Emolumento","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1780,200]},{"parameters":{"respondWith":"json","responseBody":"={ok: false, blocked: true, reason: 'rate_limit', message: 'Limite de 60 consultas/min. Tente em 1 min.'}"},"id":"respond-rl-01","name":"Respond Rate Limited","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1340,500]}],"connections":{"Webhook consulta-emolumento":{"main":[[{"node":"PII Scrub","type":"main","index":0}]]},"PII Scrub":{"main":[[{"node":"Parse Tipo","type":"main","index":0}]]},"Parse Tipo":{"main":[[{"node":"Rate Limit Check","type":"main","index":0}]]},"Rate Limit Check":{"main":[[{"node":"Rate Limited?","type":"main","index":0}]]},"Rate Limited?":{"main":[[{"node":"API Emolumento","type":"main","index":0}],[{"node":"Respond Rate Limited","type":"main","index":0}]]},"API Emolumento":{"main":[[{"node":"Audit Log","type":"main","index":0}]]},"Audit Log":{"main":[[{"node":"Respond Emolumento","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Gustavo  Rodrigues","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-23T17:54:26.473Z","id":79,"workflowId":"bR7qIo3bFpG4zgxO","versionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","event":"deactivated","userId":"3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"},{"createdAt":"2026-06-23T17:54:26.484Z","id":80,"workflowId":"bR7qIo3bFpG4zgxO","versionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","event":"activated","userId":"3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"},{"createdAt":"2026-06-23T17:54:37.376Z","id":81,"workflowId":"bR7qIo3bFpG4zgxO","versionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","event":"deactivated","userId":"3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"},{"createdAt":"2026-06-23T17:54:37.387Z","id":82,"workflowId":"bR7qIo3bFpG4zgxO","versionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","event":"activated","userId":"3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"},{"createdAt":"2026-06-23T17:54:37.567Z","id":83,"workflowId":"bR7qIo3bFpG4zgxO","versionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","event":"deactivated","userId":"3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"},{"createdAt":"2026-06-23T17:54:37.580Z","id":84,"workflowId":"bR7qIo3bFpG4zgxO","versionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","event":"activated","userId":"3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"},{"createdAt":"2026-06-23T17:56:37.124Z","id":90,"workflowId":"bR7qIo3bFpG4zgxO","versionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","event":"deactivated","userId":"3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"},{"createdAt":"2026-06-23T17:56:37.133Z","id":91,"workflowId":"bR7qIo3bFpG4zgxO","versionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","event":"activated","userId":"3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"},{"createdAt":"2026-06-23T17:57:05.112Z","id":118,"workflowId":"bR7qIo3bFpG4zgxO","versionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","event":"deactivated","userId":"3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"},{"createdAt":"2026-06-23T17:57:05.122Z","id":119,"workflowId":"bR7qIo3bFpG4zgxO","versionId":"18e7650f-8a5a-4b5c-a713-2f747862bebe","event":"activated","userId":"3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"}]}}