infra/n8n-workflows/01-consulta-emolumento-v3-fixed.json
{
  "name": "01 - Consulta Emolumento WhatsApp (v3)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta-emolumento",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-01",
      "name": "Webhook consulta-emolumento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "consulta-emolumento-v1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json; const raw = (item.body && item.body.message && item.body.message.text) || (item.body && item.body.data && item.body.data.message && (item.body.data.message.conversation || item.body.data.message.extendedTextMessage?.text || '')) || ''; const sender = (item.body && (item.body.sender || item.body.data?.key?.remoteJid)) || 'unknown'; const patterns = { cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g, rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g, phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g, email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g }; let scrubbed = raw; let count = 0; for (const [t, p] of Object.entries(patterns)) { const m = scrubbed.match(p); if (m) { count += m.length; scrubbed = scrubbed.replace(p, '[' + t.toUpperCase() + '_REDACTED]'); } return { json: { raw_text: raw, scrubbed_text: scrubbed, redaction_count: count, sender: sender } };"
      },
      "id": "pii-01",
      "name": "PII Scrub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = ($json.scrubbed_text || '').toLowerCase(); let tipo = 'certidao_casamento'; if (/casament/.test(text)) tipo = 'certidao_casamento'; else if (/negativa/.test(text)) tipo = 'certidao_negativa'; else if (/positiva/.test(text)) tipo = 'certidao_positiva'; else if (/compra.{0,3}venda|escritura.{0,3}compra/.test(text)) tipo = 'escritura_compra_venda'; else if (/doaç|doacao/.test(text)) tipo = 'escritura_doacao'; else if (/escritur/.test(text)) tipo = 'escritura_compra_venda'; else if (/procur/.test(text)) tipo = 'procuracao'; else if (/reconhec|firm/.test(text)) tipo = 'reconhecimento_firma'; else if (/autentica/.test(text)) tipo = 'autenticacao'; const urgencia = /urgente|urgencia|rapido|agora|amanh/.test(text); return { json: { ...$json, tipo, urgencia } };"
      },
      "id": "parse-01",
      "name": "Parse Tipo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.2notasudi.com.br/api/v1/emolumento/calcular?tipo={{$json.tipo}}&urgencia={{$json.urgencia}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-API-Key", "value": "={{ $env.CARTORIO_API_KEY }}"}
          ]
        },
        "options": {"timeout": 8000, "retry": {"enabled": true, "maxTries": 2}}
      },
      "id": "api-01",
      "name": "API Emolumento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {"httpHeaderAuth": {"id": "ADNkyTP2e6uYskUZ", "name": "cartorio-api-key"}}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.2notasudi.com.br/api/v1/audit/verify/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-API-Key", "value": "={{ $env.CARTORIO_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={action: 'consulta_emolumento', workflow: '{{$workflow.name}}', execution_id: '{{$execution.id}}', tipo: '{{$json.tipo}}', valor_total: {{$json.total || 0}}}",
        "options": {"timeout": 5000}
      },
      "id": "audit-01",
      "name": "Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {"httpHeaderAuth": {"id": "ADNkyTP2e6uYskUZ", "name": "cartorio-api-key"}},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ok: true, text: '{{$json.text || \"OK\"}}', valor_total: {{$json.total || 0}}, tipo: '{{$json.tipo}}'}"
      },
      "id": "respond-01",
      "name": "Respond Emolumento",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook consulta-emolumento": {"main": [[{"node": "PII Scrub", "type": "main", "index": 0}]]},
    "PII Scrub": {"main": [[{"node": "Parse Tipo", "type": "main", "index": 0}]]},
    "Parse Tipo": {"main": [[{"node": "API Emolumento", "type": "main", "index": 0}]]},
    "API Emolumento": {"main": [[{"node": "Audit Log", "type": "main", "index": 0}]]},
    "Audit Log": {"main": [[{"node": "Respond Emolumento", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "4IS5oiLyHWGhtb8g",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  }
}
