infra/n8n-workflows/02-criar-protocolo.json
{
  "updatedAt": "2026-06-23T13:53:27.107Z",
  "createdAt": "2026-06-23T13:53:27.107Z",
  "id": "MzeYTSDouymzdpRw",
  "name": "02 - Criar Protocolo (LGPD)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "2b0207b505be",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0aa774c5",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "4ed722ab",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criar-protocolo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "criar-protocolo-v1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// PII scrub + LGPD consentimento check\nconst item = $input.item.json;\nconst body = item.body || {};\nconst sender = body.sender || 'unknown';\nconst text = (body.message && body.message.text) || '';\nconst consentimento_lgpd = body.consentimento_lgpd === true;\n\nconst patterns = {\n  cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g,\n  rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g,\n  phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g,\n  email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g\n};\n\nlet scrubbed = text;\nlet findings = [];\nlet redactionCount = 0;\n\nfor (const [type, pattern] of Object.entries(patterns)) {\n  const matches = scrubbed.match(pattern);\n  if (matches) {\n    findings.push({ type, count: matches.length });\n    redactionCount += matches.length;\n    scrubbed = scrubbed.replace(pattern, `[${type.toUpperCase()}_REDACTED]`);\n  }\n}\n\n// LGPD gate: consentimento explicito obrigatorio para criar protocolo\nconst lgpd_blocked = !consentimento_lgpd;\n\n// Extrair tipo de ato do texto\nconst lower = scrubbed.toLowerCase();\nlet tipo_ato = 'certidao_casamento';\nif (/escritur/.test(lower)) tipo_ato = 'escritura';\nelse if (/procur/.test(lower)) tipo_ato = 'procuracao';\n\nreturn { json: {\n  sender,\n  raw: text,\n  scrubbed,\n  findings,\n  redactionCount,\n  consentimento_lgpd,\n  lgpd_blocked,\n  tipo_ato,\n  instance: body.instance || 'unknown'\n}};"
      },
      "id": "pii-scrub",
      "name": "PII Scrub + LGPD Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "lgpd-blocked",
              "leftValue": "={{ $json.lgpd_blocked }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-lgpd",
      "name": "LGPD bloqueado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.2notasudi.com.br/api/v1/protocolo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Request-Source",
              "value": "n8n-workflow-02"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": \"{{ $json.sender }}\",\n  \"tipo_ato\": \"{{ $json.tipo_ato }}\",\n  \"descricao\": \"{{ $json.scrubbed }}\",\n  \"consentimento_lgpd\": {{ $json.consentimento_lgpd }},\n  \"instance\": \"{{ $json.instance }}\",\n  \"pii_scrubbed\": true\n}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "api-protocolo",
      "name": "POST /protocolo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": false,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"created\",\n  \"protocolo\": \"CART-{{ new Date().getFullYear() }}-{{ Math.floor(Math.random()*1000000) }}\",\n  \"message\": \"Protocolo criado com sucesso. Prazo estimado: 5 dias uteis.\",\n  \"backend_status\": \"{{ $json.statusCode || 'pending' }}\",\n  \"sender\": \"{{ $json.sender }}\",\n  \"tipo_ato\": \"{{ $json.tipo_ato }}\",\n  \"scrubbed\": \"{{ $json.scrubbed }}\",\n  \"consentimento_lgpd\": {{ $json.consentimento_lgpd || false }},\n  \"note\": \"Backend /protocolo retornou 404 \u2014 endpoint ainda nao implementado (Sprint 3). Workflow gerou numero provisional.\"\n}"
      },
      "id": "respond-created",
      "name": "Respond Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1140,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"LGPD_BLOCKED\",\n  \"response\": \"Para criar um protocolo, precisamos do seu consentimento explicito (LGPD art. 7, I). Por favor, responda 'ACEITO' para autorizar o tratamento dos seus dados para fins cartorarios.\",\n  \"action_required\": \"consentimento_lgpd = true\",\n  \"sender\": \"{{ $json.sender }}\"\n}"
      },
      "id": "respond-lgpd-blocked",
      "name": "Respond LGPD_BLOCKED",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ]
    },
    {
      "id": "d7b36512615e",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fef6636",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "0ea67d98553c",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"n8n\",\n  \"wf_name\": $workflow.name,\n  \"wf_id\": $workflow.id,\n  \"execution_id\": $execution.id,\n  \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id,\n  \"status\": $execution.success ? 'success' : 'error',\n  \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'),\n  \"counters\": {\n    \"n8n_wf_executions_total\": {\n      \"workflow=$workflow.name|status=success\": $execution.success ? 1 : 0,\n      \"workflow=$workflow.name|status=error\": $execution.success ? 0 : 1\n    },\n    \"n8n_wf_errors_total\": {\n      \"workflow=$workflow.name|error_type=generic\": $execution.success ? 0 : 1\n    }\n  },\n  \"gauges\": {\n    \"n8n_wf_execution_duration_seconds\": {\n      \"workflow=$workflow.name\": $now.diff($json.wf_started_at, 'seconds')\n    }\n  },\n  \"uptime_seconds\": $now.diff($json.wf_started_at, 'seconds')\n}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "PII Scrub + LGPD Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PII Scrub + LGPD Check": {
      "main": [
        [
          {
            "node": "LGPD bloqueado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LGPD bloqueado?": {
      "main": [
        [
          {
            "node": "Respond LGPD_BLOCKED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST /protocolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /protocolo": {
      "main": [
        [
          {
            "node": "Respond Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "c0be6a0e-59d4-4eb0-8aeb-1c9b6a2504cf",
  "activeVersionId": "c0be6a0e-59d4-4eb0-8aeb-1c9b6a2504cf",
  "versionCounter": 1,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-23T13:53:27.107Z",
      "createdAt": "2026-06-23T13:53:27.107Z",
      "role": "workflow:owner",
      "workflowId": "MzeYTSDouymzdpRw",
      "projectId": "IriLCUUa2YxjQSQ5",
      "project": {
        "updatedAt": "2026-06-23T01:34:55.592Z",
        "createdAt": "2026-06-22T19:27:08.156Z",
        "id": "IriLCUUa2YxjQSQ5",
        "name": "Gustavo  Rodrigues <gustavomar.fullstack@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-23T13:53:27.107Z",
    "createdAt": "2026-06-23T13:53:27.107Z",
    "versionId": "c0be6a0e-59d4-4eb0-8aeb-1c9b6a2504cf",
    "workflowId": "MzeYTSDouymzdpRw",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "criar-protocolo",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook WhatsApp",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          240,
          300
        ],
        "webhookId": "criar-protocolo-v1"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// PII scrub + LGPD consentimento check\nconst item = $input.item.json;\nconst body = item.body || {};\nconst sender = body.sender || 'unknown';\nconst text = (body.message && body.message.text) || '';\nconst consentimento_lgpd = body.consentimento_lgpd === true;\n\nconst patterns = {\n  cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g,\n  rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g,\n  phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g,\n  email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g\n};\n\nlet scrubbed = text;\nlet findings = [];\nlet redactionCount = 0;\n\nfor (const [type, pattern] of Object.entries(patterns)) {\n  const matches = scrubbed.match(pattern);\n  if (matches) {\n    findings.push({ type, count: matches.length });\n    redactionCount += matches.length;\n    scrubbed = scrubbed.replace(pattern, `[${type.toUpperCase()}_REDACTED]`);\n  }\n}\n\n// LGPD gate: consentimento explicito obrigatorio para criar protocolo\nconst lgpd_blocked = !consentimento_lgpd;\n\n// Extrair tipo de ato do texto\nconst lower = scrubbed.toLowerCase();\nlet tipo_ato = 'certidao_casamento';\nif (/escritur/.test(lower)) tipo_ato = 'escritura';\nelse if (/procur/.test(lower)) tipo_ato = 'procuracao';\n\nreturn { json: {\n  sender,\n  raw: text,\n  scrubbed,\n  findings,\n  redactionCount,\n  consentimento_lgpd,\n  lgpd_blocked,\n  tipo_ato,\n  instance: body.instance || 'unknown'\n}};"
        },
        "id": "pii-scrub",
        "name": "PII Scrub + LGPD Check",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "lgpd-blocked",
                "leftValue": "={{ $json.lgpd_blocked }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-lgpd",
        "name": "LGPD bloqueado?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          680,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.2notasudi.com.br/api/v1/protocolo",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Request-Source",
                "value": "n8n-workflow-02"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"sender\": \"{{ $json.sender }}\",\n  \"tipo_ato\": \"{{ $json.tipo_ato }}\",\n  \"descricao\": \"{{ $json.scrubbed }}\",\n  \"consentimento_lgpd\": {{ $json.consentimento_lgpd }},\n  \"instance\": \"{{ $json.instance }}\",\n  \"pii_scrubbed\": true\n}",
          "options": {
            "timeout": 15000,
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "api-protocolo",
        "name": "POST /protocolo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          900,
          200
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": false
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"created\",\n  \"protocolo\": \"CART-{{ new Date().getFullYear() }}-{{ Math.floor(Math.random()*1000000) }}\",\n  \"message\": \"Protocolo criado com sucesso. Prazo estimado: 5 dias uteis.\",\n  \"backend_status\": \"{{ $json.statusCode || 'pending' }}\",\n  \"sender\": \"{{ $json.sender }}\",\n  \"tipo_ato\": \"{{ $json.tipo_ato }}\",\n  \"scrubbed\": \"{{ $json.scrubbed }}\",\n  \"consentimento_lgpd\": {{ $json.consentimento_lgpd || false }},\n  \"note\": \"Backend /protocolo retornou 404 \u2014 endpoint ainda nao implementado (Sprint 3). Workflow gerou numero provisional.\"\n}"
        },
        "id": "respond-created",
        "name": "Respond Created",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1140,
          200
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"LGPD_BLOCKED\",\n  \"response\": \"Para criar um protocolo, precisamos do seu consentimento explicito (LGPD art. 7, I). Por favor, responda 'ACEITO' para autorizar o tratamento dos seus dados para fins cartorarios.\",\n  \"action_required\": \"consentimento_lgpd = true\",\n  \"sender\": \"{{ $json.sender }}\"\n}"
        },
        "id": "respond-lgpd-blocked",
        "name": "Respond LGPD_BLOCKED",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          900,
          420
        ]
      }
    ],
    "connections": {
      "Webhook WhatsApp": {
        "main": [
          [
            {
              "node": "PII Scrub + LGPD Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PII Scrub + LGPD Check": {
        "main": [
          [
            {
              "node": "LGPD bloqueado?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LGPD bloqueado?": {
        "main": [
          [
            {
              "node": "Respond LGPD_BLOCKED",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "POST /protocolo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST /protocolo": {
        "main": [
          [
            {
              "node": "Respond Created",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Gustavo  Rodrigues",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-23T13:53:32.842Z",
        "id": 11,
        "workflowId": "MzeYTSDouymzdpRw",
        "versionId": "c0be6a0e-59d4-4eb0-8aeb-1c9b6a2504cf",
        "event": "activated",
        "userId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    ]
  }
}