infra/n8n-workflows/03-handoff-human.json
{
  "_comment": "Workflow 3 - Handoff Human (Cartorio 2 Notas Uberlandia). Trigger: webhook POST /webhook/handoff-human. Flux: Normalizar payload -> Chatwoot /conversations -> Respond link agente. Se Chatwoot indisponivel, retorna inbox URL como fallback. Owner: cartorio-n8n. Modified by Gustavo Almeida.",
  "name": "03 - Handoff Humano (Chatwoot)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "handoff-human",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Handoff",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "handoff-human-v1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalizar payload + gerar source_id idempotente\nconst item = $input.item.json;\nconst body = item.body || {};\nconst sender = body.sender || 'unknown';\nconst text = (body.message && body.message.text) || '';\nconst reason = body.reason || 'unspecified';\nconst message_id = body.message_id || `${sender}-${Date.now()}`;\nconst instance = body.instance || 'unknown';\n\n// Inbox URL fallback (sempre retornado mesmo se Chatwoot falhar)\nconst inbox_url = `https://chatwoot.2notasudi.com.br/app/accounts/1/conversations?search=${encodeURIComponent(sender)}`;\n\nreturn { json: {\n  sender,\n  text,\n  reason,\n  message_id,\n  instance,\n  inbox_url,\n  payload: {\n    source_id: message_id,\n    contact: { phone_number: sender },\n    message: { content: text },\n    custom_attributes: {\n      handoff_reason: reason,\n      origin: 'cartorio-bot'\n    }\n  }\n}};"
      },
      "id": "normalize-payload",
      "name": "Normalizar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.2notasudi.com.br/api/v1/accounts/1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "X-Request-Source", "value": "n8n-workflow-03"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 15000,
          "response": {"response": {"responseFormat": "json"}},
          "allowUnauthorizedCerts": false
        }
      },
      "id": "chatwoot-conv",
      "name": "Chatwoot Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "onError": "continueErrorOutput",
      "retryOnFail": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"handoff\",\n  \"response\": \"Transferi para um atendente humano. Acesse: {{ $('Normalizar Payload').item.json.inbox_url }}\",\n  \"chatwoot_status\": \"{{ $json.statusCode || 'unavailable' }}\",\n  \"sender\": \"{{ $('Normalizar Payload').item.json.sender }}\",\n  \"message_id\": \"{{ $('Normalizar Payload').item.json.message_id }}\",\n  \"reason\": \"{{ $('Normalizar Payload').item.json.reason }}\"\n}"
      },
      "id": "respond-ok",
      "name": "Respond Handoff",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Handoff": {"main": [[{"node": "Normalizar Payload", "type": "main", "index": 0}]]},
    "Normalizar Payload": {"main": [[{"node": "Chatwoot Conversation", "type": "main", "index": 0}]]},
    "Chatwoot Conversation": {"main": [[{"node": "Respond Handoff", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}
