infra/n8n-workflows/04-boas-vindas-lgpd.json
{
  "_comment": "Workflow 4 - Boas-Vindas + Consentimento LGPD (primeira interacao). Trigger: webhook POST /webhook/boas-vindas. Detecta novo vs recorrente, envia mensagem apropriada. Owner: cartorio-n8n. Modified by Gustavo Almeida.",
  "name": "04 - Boas-Vindas + Consentimento LGPD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "boas-vindas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Boas-Vindas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "boas-vindas-v1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Detectar novo vs recorrente + normalizar payload\nconst item = $input.item.json;\nconst body = item.body || {};\nconst sender = body.sender || 'unknown';\nconst name = body.name || '';\nconst first_interaction = body.first_interaction !== false; // default true\nconst consent = body.consentimento_lgpd === true;\n\n// LGPD art. 7, I: consentimento explicito obrigatorio para primeiro contato\nconst needs_consent = first_interaction && !consent;\n\nreturn { json: {\n  sender,\n  name: name || (first_interaction ? '' : 'cliente'),\n  first_interaction,\n  consent,\n  needs_consent,\n  message_id: body.message_id || `welcome-${sender}-${Date.now()}`,\n  instance: body.instance || 'unknown'\n}};"
      },
      "id": "detect-user",
      "name": "Detectar Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-consent",
              "leftValue": "={{ $json.needs_consent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new-user",
      "name": "Primeira interacao?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"welcome\",\n  \"type\": \"first_contact\",\n  \"response\": \"Ola! Bem-vindo ao 2o Cartorio de Notas de Uberlandia. 👋\\n\\nAntes de continuarmos, precisamos do seu consentimento explicito para tratar seus dados pessoais conforme a LGPD (Lei 13.709/2018).\\n\\n📋 Finalidades:\\n- Atendimento de servicos cartorarios (escrituras, procurações, certidoes)\\n- Armazenamento de protocolos por 20 anos (prazo legal)\\n- Comunicacao sobre o andamento do seu pedido\\n\\n✅ Para aceitar, responda: ACEITO\\n❌ Para recusar, responda: NAO ACEITO\\n\\nSeu consentimento fica registrado em nossa auditoria interna (hash chain imutavel).\"\n}"
      },
      "id": "respond-welcome-new",
      "name": "Welcome Novo Cliente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"welcome\",\n  \"type\": \"returning_user\",\n  \"response\": \"Ola novamente, {{ $json.name }}! 👋\\n\\nComo posso ajudar hoje?\\n\\n1️⃣ Consultar valor de emolumento\\n2️⃣ Status de protocolo\\n3️⃣ Criar novo protocolo\\n4️⃣ Falar com atendente humano\\n\\nResponda com o numero ou descreva sua necessidade.\",\n  \"consentimento_lgpd\": {{ $json.consent || true }},\n  \"sender\": \"{{ $json.sender }}\"\n}"
      },
      "id": "respond-welcome-returning",
      "name": "Welcome Recorrente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook Boas-Vindas": {"main": [[{"node": "Detectar Usuario", "type": "main", "index": 0}]]},
    "Detectar Usuario": {"main": [[{"node": "Primeira interacao?", "type": "main", "index": 0}]]},
    "Primeira interacao?": {
      "main": [
        [{"node": "Welcome Novo Cliente", "type": "main", "index": 0}],
        [{"node": "Welcome Recorrente", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}
