infra/n8n-workflows/05-agendamento.json
{
  "updatedAt": "2026-06-23T13:56:00.687Z",
  "createdAt": "2026-06-23T13:56:00.687Z",
  "id": "UUW8ulDTxZUqBsci",
  "name": "05 - Agendamento Atendimento",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "a6aba81247ca",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df5dcaf6",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "e50e9c22",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agendar-atendimento",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "agendar-v1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst raw = (item.body && item.body.message && item.body.message.text) || '';\nconst sender = (item.body && item.body.sender) || 'unknown';\n\n// PII scrubber\nconst patterns = {\n  cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g,\n  rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g,\n  phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g,\n  email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g\n};\nlet scrubbed = raw;\nlet redactionCount = 0;\nfor (const [type, pattern] of Object.entries(patterns)) {\n  const matches = scrubbed.match(pattern);\n  if (matches) {\n    redactionCount += matches.length;\n    scrubbed = scrubbed.replace(pattern, `[${type.toUpperCase()}_REDACTED]`);\n  }\n}\n\n// Detectar dia/horario pedido (regex simples)\nconst diaMatch = scrubbed.match(/\\b(segunda|terca|ter[\\u00e7c]a|quarta|quinta|sexta|s[\\u00e1a]bado|sabado)\\b/i);\nconst horaMatch = scrubbed.match(/\\b(\\d{1,2})[h:](\\d{2})?\\b/i);\n\nreturn { json: {\n  sender, raw, scrubbed, redactionCount,\n  dia: diaMatch ? diaMatch[1].toLowerCase() : null,\n  hora: horaMatch ? parseInt(horaMatch[1]) : null,\n  needsHandoff: redactionCount > 0 || (!diaMatch && !horaMatch)\n}};"
      },
      "id": "parse-when",
      "name": "Parse dia/hora + PII",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ok",
              "leftValue": "={{ $json.needsHandoff }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-clear",
      "name": "Sem PII e tem dia/hora?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.2notasudi.com.br/api/v1/agendamento/disponibilidade",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dia",
              "value": "={{ $json.dia }}"
            },
            {
              "name": "hora",
              "value": "={{ $json.hora }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "api-agenda",
      "name": "API Disponibilidade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"response\": \"{{ $json.dia }} as {{ $json.hora }}h tem {{ $json.vagas }} vaga(s). Posso confirmar? Responda SIM para agendar.\",\n  \"details\": {{ JSON.stringify($json) }}\n}"
      },
      "id": "respond-ok",
      "name": "Respond Disponibilidade",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1140,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"handoff\",\n  \"response\": \"Para agendar com seguranca vou transferir voce a um atendente humano. Aguarde um instante.\"\n}"
      },
      "id": "respond-handoff",
      "name": "Handoff Humano",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ]
    },
    {
      "id": "3b5b3cc794d9",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cee0d9dc",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Parse dia/hora + PII",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse dia/hora + PII": {
      "main": [
        [
          {
            "node": "Sem PII e tem dia/hora?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem PII e tem dia/hora?": {
      "main": [
        [
          {
            "node": "API Disponibilidade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handoff Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Disponibilidade": {
      "main": [
        [
          {
            "node": "Respond Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "333054ca-1739-417e-9ed2-3afca4608cc0",
  "activeVersionId": "333054ca-1739-417e-9ed2-3afca4608cc0",
  "versionCounter": 1,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-23T13:56:00.687Z",
      "createdAt": "2026-06-23T13:56:00.687Z",
      "role": "workflow:owner",
      "workflowId": "UUW8ulDTxZUqBsci",
      "projectId": "IriLCUUa2YxjQSQ5",
      "project": {
        "updatedAt": "2026-06-23T01:34:55.592Z",
        "createdAt": "2026-06-22T19:27:08.156Z",
        "id": "IriLCUUa2YxjQSQ5",
        "name": "Gustavo  Rodrigues <gustavomar.fullstack@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-23T13:56:00.687Z",
    "createdAt": "2026-06-23T13:56:00.687Z",
    "versionId": "333054ca-1739-417e-9ed2-3afca4608cc0",
    "workflowId": "UUW8ulDTxZUqBsci",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "agendar-atendimento",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook WhatsApp",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          240,
          300
        ],
        "webhookId": "agendar-v1"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $input.item.json;\nconst raw = (item.body && item.body.message && item.body.message.text) || '';\nconst sender = (item.body && item.body.sender) || 'unknown';\n\n// PII scrubber\nconst patterns = {\n  cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g,\n  rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g,\n  phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g,\n  email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g\n};\nlet scrubbed = raw;\nlet redactionCount = 0;\nfor (const [type, pattern] of Object.entries(patterns)) {\n  const matches = scrubbed.match(pattern);\n  if (matches) {\n    redactionCount += matches.length;\n    scrubbed = scrubbed.replace(pattern, `[${type.toUpperCase()}_REDACTED]`);\n  }\n}\n\n// Detectar dia/horario pedido (regex simples)\nconst diaMatch = scrubbed.match(/\\b(segunda|terca|ter[\\u00e7c]a|quarta|quinta|sexta|s[\\u00e1a]bado|sabado)\\b/i);\nconst horaMatch = scrubbed.match(/\\b(\\d{1,2})[h:](\\d{2})?\\b/i);\n\nreturn { json: {\n  sender, raw, scrubbed, redactionCount,\n  dia: diaMatch ? diaMatch[1].toLowerCase() : null,\n  hora: horaMatch ? parseInt(horaMatch[1]) : null,\n  needsHandoff: redactionCount > 0 || (!diaMatch && !horaMatch)\n}};"
        },
        "id": "parse-when",
        "name": "Parse dia/hora + PII",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "ok",
                "leftValue": "={{ $json.needsHandoff }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "false"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-clear",
        "name": "Sem PII e tem dia/hora?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          680,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.2notasudi.com.br/api/v1/agendamento/disponibilidade",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "dia",
                "value": "={{ $json.dia }}"
              },
              {
                "name": "hora",
                "value": "={{ $json.hora }}"
              }
            ]
          },
          "options": {
            "timeout": 10000
          }
        },
        "id": "api-agenda",
        "name": "API Disponibilidade",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          900,
          200
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"ok\",\n  \"response\": \"{{ $json.dia }} as {{ $json.hora }}h tem {{ $json.vagas }} vaga(s). Posso confirmar? Responda SIM para agendar.\",\n  \"details\": {{ JSON.stringify($json) }}\n}"
        },
        "id": "respond-ok",
        "name": "Respond Disponibilidade",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1140,
          200
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"handoff\",\n  \"response\": \"Para agendar com seguranca vou transferir voce a um atendente humano. Aguarde um instante.\"\n}"
        },
        "id": "respond-handoff",
        "name": "Handoff Humano",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          900,
          420
        ]
      }
    ],
    "connections": {
      "Webhook WhatsApp": {
        "main": [
          [
            {
              "node": "Parse dia/hora + PII",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse dia/hora + PII": {
        "main": [
          [
            {
              "node": "Sem PII e tem dia/hora?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sem PII e tem dia/hora?": {
        "main": [
          [
            {
              "node": "API Disponibilidade",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handoff Humano",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "API Disponibilidade": {
        "main": [
          [
            {
              "node": "Respond Disponibilidade",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Gustavo  Rodrigues",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-23T13:56:14.862Z",
        "id": 17,
        "workflowId": "UUW8ulDTxZUqBsci",
        "versionId": "333054ca-1739-417e-9ed2-3afca4608cc0",
        "event": "activated",
        "userId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    ]
  }
}