infra/n8n-workflows/05-agendamento.json
{
  "_comment": "Workflow 5 - Agendamento Atendimento Presencial. Cliente pede horario, n8n verifica disponibilidade via API e responde. v0.4.0. Owner: cartorio-n8n.",
  "name": "05 - Agendamento Atendimento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agendar-atendimento",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "agendar-v1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst raw = (item.body && item.body.message && item.body.message.text) || '';\nconst sender = (item.body && item.body.sender) || 'unknown';\n\n// PII scrubber\nconst patterns = {\n  cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g,\n  rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g,\n  phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g,\n  email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g\n};\nlet scrubbed = raw;\nlet redactionCount = 0;\nfor (const [type, pattern] of Object.entries(patterns)) {\n  const matches = scrubbed.match(pattern);\n  if (matches) {\n    redactionCount += matches.length;\n    scrubbed = scrubbed.replace(pattern, `[${type.toUpperCase()}_REDACTED]`);\n  }\n}\n\n// Detectar dia/horario pedido (regex simples)\nconst diaMatch = scrubbed.match(/\\b(segunda|terca|ter[\\u00e7c]a|quarta|quinta|sexta|s[\\u00e1a]bado|sabado)\\b/i);\nconst horaMatch = scrubbed.match(/\\b(\\d{1,2})[h:](\\d{2})?\\b/i);\n\nreturn { json: {\n  sender, raw, scrubbed, redactionCount,\n  dia: diaMatch ? diaMatch[1].toLowerCase() : null,\n  hora: horaMatch ? parseInt(horaMatch[1]) : null,\n  needsHandoff: redactionCount > 0 || (!diaMatch && !horaMatch)\n}};"
      },
      "id": "parse-when",
      "name": "Parse dia/hora + PII",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "ok", "leftValue": "={{ $json.needsHandoff }}", "rightValue": true, "operator": { "type": "boolean", "operation": "false" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-clear",
      "name": "Sem PII e tem dia/hora?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.2notasudi.com.br/api/v1/agendamento/disponibilidade",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "dia", "value": "={{ $json.dia }}" },
            { "name": "hora", "value": "={{ $json.hora }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "api-agenda",
      "name": "API Disponibilidade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"response\": \"{{ $json.dia }} as {{ $json.hora }}h tem {{ $json.vagas }} vaga(s). Posso confirmar? Responda SIM para agendar.\",\n  \"details\": {{ JSON.stringify($json) }}\n}"
      },
      "id": "respond-ok",
      "name": "Respond Disponibilidade",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"handoff\",\n  \"response\": \"Para agendar com seguranca vou transferir voce a um atendente humano. Aguarde um instante.\"\n}"
      },
      "id": "respond-handoff",
      "name": "Handoff Humano",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook WhatsApp": { "main": [[{ "node": "Parse dia/hora + PII", "type": "main", "index": 0 }]] },
    "Parse dia/hora + PII": { "main": [[{ "node": "Sem PII e tem dia/hora?", "type": "main", "index": 0 }]] },
    "Sem PII e tem dia/hora?": { "main": [[{ "node": "API Disponibilidade", "type": "main", "index": 0 }], [{ "node": "Handoff Humano", "type": "main", "index": 0 }]] },
    "API Disponibilidade": { "main": [[{ "node": "Respond Disponibilidade", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner" }
}
