infra/n8n-workflows/06-2-via-protocolo.json
{
  "updatedAt": "2026-06-23T13:56:00.734Z",
  "createdAt": "2026-06-23T13:56:00.734Z",
  "id": "ukbRUEudoX3SvsqD",
  "name": "06 - Segunda Via Documento",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "5c38e82ba4f0",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4074b185",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "73a48683",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "segunda-via",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "segunda-via-v1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst raw = (item.body && item.body.message && item.body.message.text) || '';\nconst sender = (item.body && item.body.sender) || 'unknown';\n\nconst patterns = {\n  cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g,\n  rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g,\n  phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g,\n  email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g\n};\nlet scrubbed = raw;\nlet redactionCount = 0;\nfor (const [type, pattern] of Object.entries(patterns)) {\n  const matches = scrubbed.match(pattern);\n  if (matches) {\n    redactionCount += matches.length;\n    scrubbed = scrubbed.replace(pattern, `[${type.toUpperCase()}_REDACTED]`);\n  }\n}\n\nconst m = scrubbed.match(/\\b(PROT[-\\s]?\\d{4}[-\\s]?\\d{4,8})\\b/i);\nconst numeroProtocolo = m ? m[1].toUpperCase().replace(/\\s/g, '-') : null;\nreturn { json: { sender, raw, scrubbed, redactionCount, numeroProtocolo } };"
      },
      "id": "extract-proto",
      "name": "Extrai protocolo + PII",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-proto",
              "leftValue": "={{ $json.numeroProtocolo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-proto",
      "name": "Tem protocolo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/documento/segunda-via",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "protocolo",
              "value": "={{ $json.numeroProtocolo }}"
            },
            {
              "name": "canal",
              "value": "whatsapp"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "api-2via",
      "name": "POST /documento/segunda-via",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"response\": \"Documento gerado! Link para download: {{ $json.url_pdf }} (valido por {{ $json.validade_horas }}h)\",\n  \"details\": {{ JSON.stringify($json) }}\n}"
      },
      "id": "respond-ok",
      "name": "Respond Link PDF",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1140,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"handoff\",\n  \"response\": \"Para emitir segunda via com seguranca vou transferir voce a um atendente humano. Aguarde.\"\n}"
      },
      "id": "respond-handoff",
      "name": "Handoff Humano",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ]
    },
    {
      "id": "cc582e20aa27",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b7c49f0",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "5695dcc2b667",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source\": \"n8n\", \"wf_name\": $workflow.name, \"wf_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id, \"status\": $execution.success ? 'success' : 'error', \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'), \"counters\": {  \"n8n_wf_executions_total\": 1}, \"gauges\": {  \"n8n_wf_error_rate\": $execution.success ? 0.0 : 1.0}}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Extrai protocolo + PII",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai protocolo + PII": {
      "main": [
        [
          {
            "node": "Tem protocolo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem protocolo?": {
      "main": [
        [
          {
            "node": "POST /documento/segunda-via",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handoff Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /documento/segunda-via": {
      "main": [
        [
          {
            "node": "Respond Link PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "43731283-fa4d-4f72-aeb5-3167bd500957",
  "activeVersionId": "43731283-fa4d-4f72-aeb5-3167bd500957",
  "versionCounter": 1,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-23T13:56:00.734Z",
      "createdAt": "2026-06-23T13:56:00.734Z",
      "role": "workflow:owner",
      "workflowId": "ukbRUEudoX3SvsqD",
      "projectId": "IriLCUUa2YxjQSQ5",
      "project": {
        "updatedAt": "2026-06-23T01:34:55.592Z",
        "createdAt": "2026-06-22T19:27:08.156Z",
        "id": "IriLCUUa2YxjQSQ5",
        "name": "Gustavo  Rodrigues <gustavomar.fullstack@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-23T13:56:00.734Z",
    "createdAt": "2026-06-23T13:56:00.734Z",
    "versionId": "43731283-fa4d-4f72-aeb5-3167bd500957",
    "workflowId": "ukbRUEudoX3SvsqD",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "segunda-via",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook WhatsApp",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          240,
          300
        ],
        "webhookId": "segunda-via-v1"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $input.item.json;\nconst raw = (item.body && item.body.message && item.body.message.text) || '';\nconst sender = (item.body && item.body.sender) || 'unknown';\n\nconst patterns = {\n  cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g,\n  rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g,\n  phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g,\n  email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g\n};\nlet scrubbed = raw;\nlet redactionCount = 0;\nfor (const [type, pattern] of Object.entries(patterns)) {\n  const matches = scrubbed.match(pattern);\n  if (matches) {\n    redactionCount += matches.length;\n    scrubbed = scrubbed.replace(pattern, `[${type.toUpperCase()}_REDACTED]`);\n  }\n}\n\nconst m = scrubbed.match(/\\b(PROT[-\\s]?\\d{4}[-\\s]?\\d{4,8})\\b/i);\nconst numeroProtocolo = m ? m[1].toUpperCase().replace(/\\s/g, '-') : null;\nreturn { json: { sender, raw, scrubbed, redactionCount, numeroProtocolo } };"
        },
        "id": "extract-proto",
        "name": "Extrai protocolo + PII",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-proto",
                "leftValue": "={{ $json.numeroProtocolo }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-has-proto",
        "name": "Tem protocolo?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          680,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.2notasudi.com.br/api/v1/documento/segunda-via",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "protocolo",
                "value": "={{ $json.numeroProtocolo }}"
              },
              {
                "name": "canal",
                "value": "whatsapp"
              }
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "api-2via",
        "name": "POST /documento/segunda-via",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          900,
          200
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"ok\",\n  \"response\": \"Documento gerado! Link para download: {{ $json.url_pdf }} (valido por {{ $json.validade_horas }}h)\",\n  \"details\": {{ JSON.stringify($json) }}\n}"
        },
        "id": "respond-ok",
        "name": "Respond Link PDF",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1140,
          200
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"handoff\",\n  \"response\": \"Para emitir segunda via com seguranca vou transferir voce a um atendente humano. Aguarde.\"\n}"
        },
        "id": "respond-handoff",
        "name": "Handoff Humano",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          900,
          420
        ]
      }
    ],
    "connections": {
      "Webhook WhatsApp": {
        "main": [
          [
            {
              "node": "Extrai protocolo + PII",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrai protocolo + PII": {
        "main": [
          [
            {
              "node": "Tem protocolo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tem protocolo?": {
        "main": [
          [
            {
              "node": "POST /documento/segunda-via",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handoff Humano",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST /documento/segunda-via": {
        "main": [
          [
            {
              "node": "Respond Link PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Gustavo  Rodrigues",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-23T13:56:15.196Z",
        "id": 21,
        "workflowId": "ukbRUEudoX3SvsqD",
        "versionId": "43731283-fa4d-4f72-aeb5-3167bd500957",
        "event": "activated",
        "userId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    ]
  }
}