infra/n8n-workflows/07-pesquisa-satisfacao.json
{
  "name": "07 - Pesquisa Satisfacao",
  "nodes": [
    {
      "id": "9c87c3d7b0e0",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0dd0ad79",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "79a1d781",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "cron-24h",
      "name": "Cron 24h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.2notasudi.com.br/api/v1/atendimentos/ultimas-24h",
        "options": {
          "timeout": 10000
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "cartorio-api-shared-secret-v1"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        }
      },
      "id": "api-list",
      "name": "GET atendimentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "22Q8OUbeZ1bsGnlt",
          "name": "cartorio-api-bearer"
        }
      },
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "instanceName": "cartorio-2notas",
        "remoteJid": "5511999999999@s.whatsapp.net",
        "message": "Ola! Seu atendimento no cartorio foi concluido. Avalie de 1 a 5."
      },
      "id": "send-wa",
      "name": "Evolution sendText",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "evolutionApi": {
          "id": "adbzRn9sEZD7VZbs",
          "name": "evolution-api-cartorio"
        }
      }
    },
    {
      "id": "149f2656ac53",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06491a70",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "a11bc31b9ca5",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"n8n\",\n  \"wf_name\": $workflow.name,\n  \"wf_id\": $workflow.id,\n  \"execution_id\": $execution.id,\n  \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id,\n  \"status\": $execution.success ? 'success' : 'error',\n  \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'),\n  \"counters\": {\n    \"n8n_wf_executions_total\": {\n      \"workflow=$workflow.name|status=success\": $execution.success ? 1 : 0,\n      \"workflow=$workflow.name|status=error\": $execution.success ? 0 : 1\n    },\n    \"n8n_wf_errors_total\": {\n      \"workflow=$workflow.name|error_type=generic\": $execution.success ? 0 : 1\n    }\n  },\n  \"gauges\": {\n    \"n8n_wf_execution_duration_seconds\": {\n      \"workflow=$workflow.name\": $now.diff($json.wf_started_at, 'seconds')\n    }\n  },\n  \"uptime_seconds\": $now.diff($json.wf_started_at, 'seconds')\n}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "Cron 24h": {
      "main": [
        [
          {
            "node": "GET atendimentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET atendimentos": {
      "main": [
        [
          {
            "node": "Evolution sendText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "4IS5oiLyHWGhtb8g",
    "availableInMCP": true
  },
  "staticData": {
    "node:Cron 24h": {
      "recurrenceRules": [
        0
      ]
    }
  },
  "tags": [
    {
      "updatedAt": "2026-06-23T17:32:50.917Z",
      "createdAt": "2026-06-23T17:32:50.917Z",
      "id": "qIO7CBdOUpUxN8ZC",
      "name": "cartorio"
    },
    {
      "updatedAt": "2026-06-23T17:32:51.789Z",
      "createdAt": "2026-06-23T17:32:51.789Z",
      "id": "HUYtJw4h0nbPh5eK",
      "name": "cron"
    },
    {
      "updatedAt": "2026-06-23T17:32:52.791Z",
      "createdAt": "2026-06-23T17:32:52.791Z",
      "id": "5r2mHpR7j5lzrEu7",
      "name": "pesquisa"
    }
  ],
  "meta": {
    "exportedAt": "2026-06-24T10:26:00-03:00",
    "exportedBy": "cartorio-n8n-reun",
    "sessionId": "mvs_3fb892d492d7489caf3c78f1e621ea6d",
    "workflowId": "D9XJmlJRXZ3lavoa",
    "lastUpdated": "2026-06-23T23:05:05.350Z",
    "credentials_used": [
      "cartorio-api-bearer (httpHeaderAuth)",
      "evolution-api-cartorio (evolutionApi)"
    ],
    "m2_task": "M2.2 - WF #07 Evolution cred (NO-OP: cred already exists and is bound)",
    "cron_schedule": "every 24h",
    "note": "Active workflow from N8N instance. runtime error 2026-06-24 04:00:30 (\"Could not get parameter operation\") documented in AUDIT_2026-06-24.md issue C.2",
    "versionId": "9619d292-cfe6-4b09-91fe-e333a36cb3a5"
  }
}