infra/n8n-workflows/07-pesquisa-evolucao.json
{
  "updatedAt": "2026-06-23T14:19:56.080Z",
  "createdAt": "2026-06-23T13:56:00.783Z",
  "id": "D9XJmlJRXZ3lavoa",
  "name": "07 - Pesquisa Satisfacao",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "1f7bf96e5836",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf861698",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "bf07646e",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "cron-24h",
      "name": "Cron 24h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.2notasudi.com.br/api/v1/atendimentos/ultimas-24h",
        "options": {
          "timeout": 10000
        }
      },
      "id": "api-list",
      "name": "GET atendimentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "instanceName": "cartorio-2notas",
        "remoteJid": "5511999999999@s.whatsapp.net",
        "message": "Ola! Seu atendimento no cartorio foi concluido. Avalie de 1 a 5."
      },
      "id": "send-wa",
      "name": "Evolution sendText",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "evolutionApi": {
          "id": "adbzRn9sEZD7VZbs",
          "name": "evolution-api-cartorio"
        }
      }
    },
    {
      "id": "04d6e00818dc",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b04a2bf",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "56e59a5a5612",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source\": \"n8n\", \"wf_name\": $workflow.name, \"wf_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id, \"status\": $execution.success ? 'success' : 'error', \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'), \"counters\": {  \"n8n_wf_executions_total\": 1}, \"gauges\": {  \"n8n_wf_error_rate\": $execution.success ? 0.0 : 1.0}}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "Cron 24h": {
      "main": [
        [
          {
            "node": "GET atendimentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET atendimentos": {
      "main": [
        [
          {
            "node": "Evolution sendText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Cron 24h": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "802ef2a7-3000-4655-995c-fa8a12883ac8",
  "activeVersionId": "802ef2a7-3000-4655-995c-fa8a12883ac8",
  "versionCounter": 3,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-23T13:56:00.783Z",
      "createdAt": "2026-06-23T13:56:00.783Z",
      "role": "workflow:owner",
      "workflowId": "D9XJmlJRXZ3lavoa",
      "projectId": "IriLCUUa2YxjQSQ5",
      "project": {
        "updatedAt": "2026-06-23T01:34:55.592Z",
        "createdAt": "2026-06-22T19:27:08.156Z",
        "id": "IriLCUUa2YxjQSQ5",
        "name": "Gustavo  Rodrigues <gustavomar.fullstack@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-23T14:19:56.082Z",
    "createdAt": "2026-06-23T14:19:56.082Z",
    "versionId": "802ef2a7-3000-4655-995c-fa8a12883ac8",
    "workflowId": "D9XJmlJRXZ3lavoa",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 24
              }
            ]
          }
        },
        "id": "cron-24h",
        "name": "Cron 24h",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.2notasudi.com.br/api/v1/atendimentos/ultimas-24h",
          "options": {
            "timeout": 10000
          }
        },
        "id": "api-list",
        "name": "GET atendimentos",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          460,
          300
        ]
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "sendText",
          "instanceName": "cartorio-2notas",
          "remoteJid": "5511999999999@s.whatsapp.net",
          "message": "Ola! Seu atendimento no cartorio foi concluido. Avalie de 1 a 5."
        },
        "id": "send-wa",
        "name": "Evolution sendText",
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          900,
          300
        ],
        "credentials": {
          "evolutionApi": {
            "id": "adbzRn9sEZD7VZbs",
            "name": "evolution-api-cartorio"
          }
        }
      }
    ],
    "connections": {
      "Cron 24h": {
        "main": [
          [
            {
              "node": "GET atendimentos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET atendimentos": {
        "main": [
          [
            {
              "node": "Evolution sendText",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Gustavo  Rodrigues",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-23T14:19:56.164Z",
        "id": 23,
        "workflowId": "D9XJmlJRXZ3lavoa",
        "versionId": "802ef2a7-3000-4655-995c-fa8a12883ac8",
        "event": "activated",
        "userId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    ]
  }
}