infra/n8n-workflows/09-backup-status.json
{
  "updatedAt": "2026-06-23T13:56:00.881Z",
  "createdAt": "2026-06-23T13:56:00.881Z",
  "id": "pgtlDqGaMW1MGawt",
  "name": "09 - Monitor Backup Diario",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "61a2b0afc8f9",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a28f5704",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "2455c6c7",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "cron-4am",
      "name": "Cron 04:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.2notasudi.com.br/api/v1/health/backup",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-backup",
      "name": "GET /health/backup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r = $input.item.json;\nif (!r.ok || r.age_hours > 26) {\n  return { json: {\n    severity: 'critical',\n    message: `[BACKUP] Falhou ou ausente! Ultimo backup: ${r.last_backup_age_hours}h atras. Arquivos: ${r.file_count}. Diretorio: ${r.dir_size}.`,\n    payload: r\n  }};\n}\nreturn { json: {\n  severity: 'info',\n  message: `[BACKUP] OK - ultimo: ${r.age_hours}h atras, ${r.file_count} arquivos, ${r.dir_size}`,\n  payload: r\n}};"
      },
      "id": "check-result",
      "name": "Check resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chatwoot.2notasudi.com.br/api/v1/accounts/1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $env.CHATWOOT_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_id",
              "value": "backup-monitor"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "alert",
      "name": "Alerta Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "id": "bbacc2fbfd15",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "096c645d",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    }
  ],
  "connections": {
    "Cron 04:00": {
      "main": [
        [
          {
            "node": "GET /health/backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /health/backup": {
      "main": [
        [
          {
            "node": "Check resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check resultado": {
      "main": [
        [
          {
            "node": "Alerta Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Cron 04:00": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "e2d524e4-2799-40cb-a010-46643d43e370",
  "activeVersionId": "e2d524e4-2799-40cb-a010-46643d43e370",
  "versionCounter": 1,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-23T13:56:00.881Z",
      "createdAt": "2026-06-23T13:56:00.881Z",
      "role": "workflow:owner",
      "workflowId": "pgtlDqGaMW1MGawt",
      "projectId": "IriLCUUa2YxjQSQ5",
      "project": {
        "updatedAt": "2026-06-23T01:34:55.592Z",
        "createdAt": "2026-06-22T19:27:08.156Z",
        "id": "IriLCUUa2YxjQSQ5",
        "name": "Gustavo  Rodrigues <gustavomar.fullstack@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-23T13:56:00.881Z",
    "createdAt": "2026-06-23T13:56:00.881Z",
    "versionId": "e2d524e4-2799-40cb-a010-46643d43e370",
    "workflowId": "pgtlDqGaMW1MGawt",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 4 * * *"
              }
            ]
          }
        },
        "id": "cron-4am",
        "name": "Cron 04:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://api.2notasudi.com.br/api/v1/health/backup",
          "options": {
            "timeout": 10000
          }
        },
        "id": "check-backup",
        "name": "GET /health/backup",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          460,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const r = $input.item.json;\nif (!r.ok || r.age_hours > 26) {\n  return { json: {\n    severity: 'critical',\n    message: `[BACKUP] Falhou ou ausente! Ultimo backup: ${r.last_backup_age_hours}h atras. Arquivos: ${r.file_count}. Diretorio: ${r.dir_size}.`,\n    payload: r\n  }};\n}\nreturn { json: {\n  severity: 'info',\n  message: `[BACKUP] OK - ultimo: ${r.age_hours}h atras, ${r.file_count} arquivos, ${r.dir_size}`,\n  payload: r\n}};"
        },
        "id": "check-result",
        "name": "Check resultado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          680,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://chatwoot.2notasudi.com.br/api/v1/accounts/1/conversations",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $env.CHATWOOT_BOT_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "source_id",
                "value": "backup-monitor"
              },
              {
                "name": "message",
                "value": "={{ $json.message }}"
              }
            ]
          },
          "options": {
            "timeout": 10000
          }
        },
        "id": "alert",
        "name": "Alerta Chatwoot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          900,
          300
        ]
      }
    ],
    "connections": {
      "Cron 04:00": {
        "main": [
          [
            {
              "node": "GET /health/backup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET /health/backup": {
        "main": [
          [
            {
              "node": "Check resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check resultado": {
        "main": [
          [
            {
              "node": "Alerta Chatwoot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Gustavo  Rodrigues",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-23T13:56:14.991Z",
        "id": 18,
        "workflowId": "pgtlDqGaMW1MGawt",
        "versionId": "e2d524e4-2799-40cb-a010-46643d43e370",
        "event": "activated",
        "userId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    ]
  }
}