infra/n8n-workflows/10-faq-bot.json
{
  "updatedAt": "2026-06-23T13:56:00.927Z",
  "createdAt": "2026-06-23T13:56:00.927Z",
  "id": "jZhgQbJQ5z7atYfK",
  "name": "10 - FAQ Bot",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "1fe05a6df925",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7315d797",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "d2c93382",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "faq",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "faq-v1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// FAQ knowledge base (local, sem LLM). PII scrubber.\nconst item = $input.item.json;\nconst raw = ((item.body && item.body.message && item.body.message.text) || '').toLowerCase().trim();\n\n// PII patterns\nconst patterns = {\n  cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g,\n  rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g,\n  phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g,\n  email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g\n};\nlet scrubbed = raw;\nlet redactionCount = 0;\nfor (const [type, pattern] of Object.entries(patterns)) {\n  const matches = scrubbed.match(pattern);\n  if (matches) {\n    redactionCount += matches.length;\n    scrubbed = scrubbed.replace(pattern, `[${type.toUpperCase()}_REDACTED]`);\n  }\n}\n\n// FAQ knowledge base (intencao -> resposta)\nconst kb = {\n  'horario': 'Atendemos de segunda a sexta, 09h-17h. Em urgente, procure o plantao no 1o andar.',\n  'endereco|local|onde': 'Cartorio 2 Notas Uberlandia - Av. Paulo Gracindo, 150 - Centro. Estacionamento no local.',\n  'documento|rg|cpf': 'Para tirar 2a via de RG, procurar SEJUSP. Para CPF, procurar Receita Federal. No cartorio fazemos autenticacao e reconhecimento de firma.',\n  'cust|emolumento|valor|tabela': 'Valores conforme tabela MG 2026. Posso consultar agora - me diga o tipo de servico (certidao, escritura, procuracao, etc).',\n  'agendar|agendamento|horario': 'Quer agendar atendimento? Me diga dia da semana e horario de preferencia.',\n  'pix|pagament|cartao': 'Aceitamos PIX, cartao (credito/debito) e dinheiro. Pagamento apos conclusao do servico.',\n  'certidao': 'Emitamos certidoes: casamento, negativa, positiva, nascimento, obito. Me diga qual precisa.',\n  'escritura': 'Fazemos escrituras de compra/venda, doacao, permuta, procura\u00e7\u00f5es. Agende com um escrevente.',\n  'procuracao': 'Procuracao precisa de comparecimento pessoal do outorgante + 2 testemunhas com RG/CPF.',\n  'protesto': 'Protesto de titulos: 2a a 6a, das 09h-16h. Pagamento ou cancelamento tira o protesto em 5 dias uteis.'\n};\n\nlet resposta = null;\nlet intencao = null;\nfor (const [pattern, resp] of Object.entries(kb)) {\n  if (new RegExp(pattern, 'i').test(scrubbed)) {\n    resposta = resp;\n    intencao = pattern.split('|')[0];\n    break;\n  }\n}\n\nif (!resposta) {\n  resposta = 'Nao encontrei resposta automatica. Vou transferir para um atendente humano. Aguarde.';\n  intencao = 'unknown';\n}\n\nreturn { json: { sender: (item.body && item.body.sender) || 'unknown', scrubbed, redactionCount, intencao, resposta } };"
      },
      "id": "faq-kb",
      "name": "FAQ Knowledge Base",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"response\": \"{{ $json.resposta }}\",\n  \"intent\": \"{{ $json.intencao }}\",\n  \"needs_handoff\": {{ $json.intencao === 'unknown' }}\n}"
      },
      "id": "respond",
      "name": "Respond FAQ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "id": "34e10fe59b60",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36898dee",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "6f381bc5e49a",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"n8n\",\n  \"wf_name\": $workflow.name,\n  \"wf_id\": $workflow.id,\n  \"execution_id\": $execution.id,\n  \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id,\n  \"status\": $execution.success ? 'success' : 'error',\n  \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'),\n  \"counters\": {\n    \"n8n_wf_executions_total\": {\n      \"workflow=$workflow.name|status=success\": $execution.success ? 1 : 0,\n      \"workflow=$workflow.name|status=error\": $execution.success ? 0 : 1\n    },\n    \"n8n_wf_errors_total\": {\n      \"workflow=$workflow.name|error_type=generic\": $execution.success ? 0 : 1\n    }\n  },\n  \"gauges\": {\n    \"n8n_wf_execution_duration_seconds\": {\n      \"workflow=$workflow.name\": $now.diff($json.wf_started_at, 'seconds')\n    }\n  },\n  \"uptime_seconds\": $now.diff($json.wf_started_at, 'seconds')\n}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "FAQ Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ Knowledge Base": {
      "main": [
        [
          {
            "node": "Respond FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "9f297275-0bee-46c5-a28b-239e304546aa",
  "activeVersionId": "9f297275-0bee-46c5-a28b-239e304546aa",
  "versionCounter": 1,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-23T13:56:00.927Z",
      "createdAt": "2026-06-23T13:56:00.927Z",
      "role": "workflow:owner",
      "workflowId": "jZhgQbJQ5z7atYfK",
      "projectId": "IriLCUUa2YxjQSQ5",
      "project": {
        "updatedAt": "2026-06-23T01:34:55.592Z",
        "createdAt": "2026-06-22T19:27:08.156Z",
        "id": "IriLCUUa2YxjQSQ5",
        "name": "Gustavo  Rodrigues <gustavomar.fullstack@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-23T13:56:00.927Z",
    "createdAt": "2026-06-23T13:56:00.927Z",
    "versionId": "9f297275-0bee-46c5-a28b-239e304546aa",
    "workflowId": "jZhgQbJQ5z7atYfK",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "faq",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook WhatsApp",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          240,
          300
        ],
        "webhookId": "faq-v1"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// FAQ knowledge base (local, sem LLM). PII scrubber.\nconst item = $input.item.json;\nconst raw = ((item.body && item.body.message && item.body.message.text) || '').toLowerCase().trim();\n\n// PII patterns\nconst patterns = {\n  cpf: /\\b\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}\\b/g,\n  rg: /\\b\\d{1,2}\\.?\\d{3}\\.?\\d{3}-?\\d{1}\\b/g,\n  phone: /\\b\\(\\d{2}\\)\\s?9?\\d{4}-?\\d{4}\\b/g,\n  email: /\\b[\\w.-]+@[\\w.-]+\\.\\w+\\b/g\n};\nlet scrubbed = raw;\nlet redactionCount = 0;\nfor (const [type, pattern] of Object.entries(patterns)) {\n  const matches = scrubbed.match(pattern);\n  if (matches) {\n    redactionCount += matches.length;\n    scrubbed = scrubbed.replace(pattern, `[${type.toUpperCase()}_REDACTED]`);\n  }\n}\n\n// FAQ knowledge base (intencao -> resposta)\nconst kb = {\n  'horario': 'Atendemos de segunda a sexta, 09h-17h. Em urgente, procure o plantao no 1o andar.',\n  'endereco|local|onde': 'Cartorio 2 Notas Uberlandia - Av. Paulo Gracindo, 150 - Centro. Estacionamento no local.',\n  'documento|rg|cpf': 'Para tirar 2a via de RG, procurar SEJUSP. Para CPF, procurar Receita Federal. No cartorio fazemos autenticacao e reconhecimento de firma.',\n  'cust|emolumento|valor|tabela': 'Valores conforme tabela MG 2026. Posso consultar agora - me diga o tipo de servico (certidao, escritura, procuracao, etc).',\n  'agendar|agendamento|horario': 'Quer agendar atendimento? Me diga dia da semana e horario de preferencia.',\n  'pix|pagament|cartao': 'Aceitamos PIX, cartao (credito/debito) e dinheiro. Pagamento apos conclusao do servico.',\n  'certidao': 'Emitamos certidoes: casamento, negativa, positiva, nascimento, obito. Me diga qual precisa.',\n  'escritura': 'Fazemos escrituras de compra/venda, doacao, permuta, procura\u00e7\u00f5es. Agende com um escrevente.',\n  'procuracao': 'Procuracao precisa de comparecimento pessoal do outorgante + 2 testemunhas com RG/CPF.',\n  'protesto': 'Protesto de titulos: 2a a 6a, das 09h-16h. Pagamento ou cancelamento tira o protesto em 5 dias uteis.'\n};\n\nlet resposta = null;\nlet intencao = null;\nfor (const [pattern, resp] of Object.entries(kb)) {\n  if (new RegExp(pattern, 'i').test(scrubbed)) {\n    resposta = resp;\n    intencao = pattern.split('|')[0];\n    break;\n  }\n}\n\nif (!resposta) {\n  resposta = 'Nao encontrei resposta automatica. Vou transferir para um atendente humano. Aguarde.';\n  intencao = 'unknown';\n}\n\nreturn { json: { sender: (item.body && item.body.sender) || 'unknown', scrubbed, redactionCount, intencao, resposta } };"
        },
        "id": "faq-kb",
        "name": "FAQ Knowledge Base",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"ok\",\n  \"response\": \"{{ $json.resposta }}\",\n  \"intent\": \"{{ $json.intencao }}\",\n  \"needs_handoff\": {{ $json.intencao === 'unknown' }}\n}"
        },
        "id": "respond",
        "name": "Respond FAQ",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          680,
          300
        ]
      }
    ],
    "connections": {
      "Webhook WhatsApp": {
        "main": [
          [
            {
              "node": "FAQ Knowledge Base",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FAQ Knowledge Base": {
        "main": [
          [
            {
              "node": "Respond FAQ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Gustavo  Rodrigues",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-23T13:56:15.252Z",
        "id": 22,
        "workflowId": "jZhgQbJQ5z7atYfK",
        "versionId": "9f297275-0bee-46c5-a28b-239e304546aa",
        "event": "activated",
        "userId": "3e7253b9-fc1b-4e04-b7bb-8688371f4ad8"
      }
    ]
  }
}