infra/n8n-workflows/12-chatbot-llm-mcp.json
{
  "name": "12 - Chatbot LLM End-to-End (PII + MCP + OpenCode-Go)",
  "description": "Chatbot WhatsApp: PII scrub -> MCP tool call (cartorio_chatbot_responder) -> decide response -> respond. Usa n8n-nodes-mcp v0.1.37 (padrao MCP 2025-03-26) em vez de httpRequest ad-hoc. Ref: ADR-020 (uso oficial de nodes comunitários).",
  "active": true,
  "nodes": [
    {
      "id": "5783f328aff0",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d0e79a6",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "8ceb4bc0",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-llm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "raw",
              "name": "raw_text",
              "value": "={{ $json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "sender",
              "name": "sender",
              "value": "={{ $json.body.sender }}",
              "type": "string"
            },
            {
              "id": "instance",
              "name": "instance",
              "value": "={{ $json.body.instance || 'cartorio-2notas-uberlandia' }}",
              "type": "string"
            },
            {
              "id": "canal",
              "name": "canal",
              "value": "whatsapp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-fields",
      "name": "Extract Message Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// PII scrubber (espelho de backend/app/services/pii.py)\n// Bloqueia fluxo se PII detectado -> handoff humano LGPD art. 7 I.\nconst items = $input.all();\nconst out = [];\nconst patterns = [\n  { label: 'email',    re: /\\b[\\w.+-]+@[\\w-]+\\.[\\w.-]+\\b/g },\n  { label: 'data',     re: /\\b\\d{2}[\\/\\-\\.]\\d{2}[\\/\\-\\.]\\d{4}\\b|\\b\\d{4}-\\d{2}-\\d{2}\\b/g },\n  { label: 'placa_veiculo',    re: /\\b[A-Z]{3}-?\\d[A-Z]\\d{2}\\b|\\b[A-Z]{3}-?\\d{4}\\b/g },\n  { label: 'cnpj',     re: /\\b\\d{2}\\.?\\d{3}\\.\\d{3}\\/\\d{4}-?\\d{2}\\b/g },\n  { label: 'cpf',      re: /\\b\\d{3}\\.\\d{3}\\.\\d{3}-?\\d{2}\\b/g },\n  { label: 'pis',      re: /\\b\\d{3}\\.\\d{5}\\.\\d{3}\\b/g },\n  { label: 'rg',       re: /\\b\\d{1,2}\\.\\d{3}\\.?\\d{3}-?[\\dxX]\\b/g },\n  { label: 'titulo',   re: /\\b\\d{4}\\s?\\d{4}\\s?\\d{4}\\b/g },\n  { label: 'phone_br', re: /(?:\\+?55\\s?)?\\(?\\d{2}\\)?\\s?9?\\d{4}[\\s-]?\\d{4}/g },\n  { label: 'cep',      re: /\\b\\d{5}-?\\d{3}\\b/g },\n  { label: 'cartao',   re: /\\b\\d{4}[\\s-]?\\d{4}[\\s-]?\\d{4}[\\s-]?\\d{4}\\b|\\b\\d{4}[\\s-]?\\d{6}[\\s-]?\\d{5}\\b/g }\n];\nfor (const item of items) {\n  const raw = (item.json.raw_text || '').toString();\n  let scrubbed = raw;\n  const findings = {};\n  let cnt = 0;\n  for (const p of patterns) {\n    const m = scrubbed.match(p.re);\n    if (m && m.length) {\n      findings[p.label] = m.length;\n      cnt += m.length;\n      scrubbed = scrubbed.replace(p.re, '[' + p.label.toUpperCase() + '_REDACTED]');\n    }\n  }\n  const blocked = cnt > 0;\n  out.push({\n    json: {\n      sender: item.json.sender || 'unknown',\n      instance: item.json.instance || 'cartorio-2notas-uberlandia',\n      canal: item.json.canal || 'whatsapp',\n      scrubbed: scrubbed,\n      findings: findings,\n      redaction_count: cnt,\n      blocked: blocked,\n      consent_granted: !blocked,\n      timestamp: new Date().toISOString()\n    }\n  });\n}\nreturn out;\n"
      },
      "id": "pii-scrubber",
      "name": "PII Scrubber",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "callTool",
        "toolName": "cartorio_chatbot_responder",
        "parameters": {
          "values": [
            {
              "name": "prompt",
              "value": "=Voce eh o atendente virtual do Cartorio 2 Notas de Uberlandia. Responda em portugues, tom cordial, maximo 2 paragrafos. Mensagem do cliente (com PII ja redacted): {{ $json.scrubbed }}"
            },
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "consent_granted",
              "value": "={{ $json.consent_granted }}"
            },
            {
              "name": "session_id",
              "value": "=n8n-flow-12-mcp:{{ $json.sender }}"
            },
            {
              "name": "canal",
              "value": "={{ $json.canal }}"
            }
          ]
        },
        "mcpServer": {
          "__rl": true,
          "value": "cartorio-mcp-server",
          "mode": "list",
          "cachedResultName": "cartorio-mcp-server"
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "mcp-chatbot",
      "name": "MCP: cartorio_chatbot_responder",
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Decide response: PII blocked -> handoff. Else MCP tool result.\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const scrub = $('PII Scrubber').item.json;\n  const mcp = item.json || {};\n  const isPii = scrub && scrub.redaction_count > 0;\n  let r;\n  if (isPii) {\n    r = {\n      status: 'pii_blocked',\n      response: 'Detectei dados pessoais (CPF/RG/documento). Por questao de LGPD, vou transferir seu atendimento para um escrevente humano. Aguarde.',\n      sender: scrub.sender || 'unknown',\n      pii_blocked: true,\n      pii_redaction_count: scrub.redaction_count || 0,\n      needs_human_handoff: true,\n      model: null,\n      tokens_in: null,\n      tokens_out: null,\n      latency_ms: null,\n      provider: 'handoff_humano',\n      transport: 'mcp'\n    };\n  } else {\n    // MCP tool result pode vir em result.content[0].text (JSON string) ou direto\n    const toolResult = mcp.result || mcp;\n    const responseText = toolResult.response || (toolResult.content && toolResult.content[0] && toolResult.content[0].text) || null;\n    const ok = toolResult.status === 'ok' && responseText;\n    r = {\n      status: ok ? 'ok' : 'llm_error',\n      response: ok ? responseText : 'Desculpe, nao consegui processar sua mensagem. Um atendente humano ira retornar.',\n      sender: scrub.sender || 'unknown',\n      pii_blocked: false,\n      pii_redaction_count: 0,\n      needs_human_handoff: !ok,\n      model: toolResult.model || 'deepseek-v4-flash',\n      tokens_in: toolResult.tokens_in || null,\n      tokens_out: toolResult.tokens_out || null,\n      latency_ms: toolResult.latency_ms || null,\n      provider: toolResult.provider || 'opencode_go',\n      transport: 'mcp'\n    };\n  }\n  out.push({ json: r });\n}\nreturn out;\n"
      },
      "id": "decide",
      "name": "Decide Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"{{ $json.status }}\",\n  \"response\": {{ JSON.stringify($json.response) }},\n  \"sender\": \"{{ $json.sender }}\",\n  \"pii_blocked\": {{ $json.pii_blocked }},\n  \"pii_redaction_count\": {{ $json.pii_redaction_count }},\n  \"needs_human_handoff\": {{ $json.needs_human_handoff }},\n  \"model\": {{ $json.model ? '\"' + $json.model + '\"' : 'null' }},\n  \"tokens_in\": {{ $json.tokens_in || 'null' }},\n  \"tokens_out\": {{ $json.tokens_out || 'null' }},\n  \"latency_ms\": {{ $json.latency_ms || 'null' }},\n  \"provider\": {{ JSON.stringify($json.provider) }},\n  \"transport\": {{ JSON.stringify($json.transport) }}\n}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "id": "d15e53446dc6",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ee0ba49",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "Extract Message Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Fields": {
      "main": [
        [
          {
            "node": "PII Scrubber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PII Scrubber": {
      "main": [
        [
          {
            "node": "MCP: cartorio_chatbot_responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP: cartorio_chatbot_responder": {
      "main": [
        [
          {
            "node": "Decide Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "mcp"
    },
    {
      "name": "chatbot"
    },
    {
      "name": "whatsapp"
    }
  ],
  "meta": null
}