infra/n8n-workflows/12-chatbot-llm-end-to-end.json
{
  "name": "12 - Chatbot LLM End-to-End (PII + OpenCode-Go)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-llm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "raw",
              "name": "raw_text",
              "value": "={{ $json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "sender",
              "name": "sender",
              "value": "={{ $json.body.sender }}",
              "type": "string"
            },
            {
              "id": "instance",
              "name": "instance",
              "value": "={{ $json.body.instance || 'cartorio-2notas-uberlandia' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-fields",
      "name": "Extract Message Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// PII scrubber (espelho de backend/app/services/pii.py)\nconst items = $input.all();\nconst out = [];\nconst patterns = [\n  { label: 'email',    re: /\\b[\\w.+-]+@[\\w-]+\\.[\\w.-]+\\b/g },\n  { label: 'data',     re: /\\b\\d{2}[\\/\\-\\.]\\d{2}[\\/\\-\\.]\\d{4}\\b|\\b\\d{4}-\\d{2}-\\d{2}\\b/g },\n  { label: 'placa',    re: /\\b[A-Z]{3}-?\\d[A-Z]\\d{2}\\b|\\b[A-Z]{3}-?\\d{4}\\b/g },\n  { label: 'cnpj',     re: /\\b\\d{2}\\.?\\d{3}\\.\\d{3}\\/\\d{4}-?\\d{2}\\b/g },\n  { label: 'cpf',      re: /\\b\\d{3}\\.\\d{3}\\.\\d{3}-?\\d{2}\\b/g },\n  { label: 'pis',      re: /\\b\\d{3}\\.\\d{5}\\.\\d{3}\\b/g },\n  { label: 'rg',       re: /\\b\\d{1,2}\\.\\d{3}\\.?\\d{3}-?[\\dxX]\\b/g },\n  { label: 'titulo',   re: /\\b\\d{4}\\s?\\d{4}\\s?\\d{4}\\b/g },\n  { label: 'phone_br', re: /(?:\\+?55\\s?)?\\(?\\d{2}\\)?\\s?9?\\d{4}[\\s-]?\\d{4}/g },\n  { label: 'cep',      re: /\\b\\d{5}-?\\d{3}\\b/g },\n  { label: 'cartao',   re: /\\b\\d{4}[\\s-]?\\d{4}[\\s-]?\\d{4}[\\s-]?\\d{4}\\b|\\b\\d{4}[\\s-]?\\d{6}[\\s-]?\\d{5}\\b/g }\n];\nfor (const item of items) {\n  const raw = (item.json.raw_text || '').toString();\n  let scrubbed = raw;\n  const findings = {};\n  let cnt = 0;\n  for (const p of patterns) {\n    const m = scrubbed.match(p.re);\n    if (m && m.length) {\n      findings[p.label] = m.length;\n      cnt += m.length;\n      scrubbed = scrubbed.replace(p.re, '[' + p.label.toUpperCase() + '_REDACTED]');\n    }\n  }\n  const blocked = cnt > 0;\n  out.push({\n    json: {\n      sender: item.json.sender || 'unknown',\n      instance: item.json.instance || 'cartorio-2notas-uberlandia',\n      scrubbed: scrubbed,\n      findings: findings,\n      redaction_count: cnt,\n      blocked: blocked,\n      consent_granted: !blocked,\n      timestamp: new Date().toISOString()\n    }\n  });\n}\nreturn out;\n"
      },
      "id": "pii-scrubber",
      "name": "PII Scrubber",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.2notasudi.com.br/api/v1/integrations/opencode/test",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "cartorio-api-shared-secret-v1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"Voce eh o atendente virtual do Cartorio 2 Notas de Uberlandia. Responda em portugues, tom cordial, maximo 2 paragrafos. Mensagem do cliente (com PII ja redacted): {{ $json.scrubbed }}\",\n  \"model\": \"deepseek-v4-flash\",\n  \"consent_granted\": {{ $json.consent_granted }},\n  \"session_id\": \"n8n-flow-12:{{ $json.sender }}\"\n}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-opencode",
      "name": "HTTP: OpenCode-Go",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const scrub = item.json;\n  const llm = (scrub.body && scrub.body.response) ? scrub.body : scrub;\n  let r;\n  if (scrub.blocked === true || scrub.redaction_count > 0) {\n    r = {\n      status: 'pii_blocked',\n      response: 'Detectei dados pessoais na sua mensagem (CPF, RG ou documento). Por questao de seguranca e conformidade com a LGPD, vou transferir seu atendimento para um escrevente humano. Aguarde.',\n      sender: scrub.sender,\n      pii_blocked: true,\n      pii_redaction_count: scrub.redaction_count,\n      needs_human_handoff: true,\n      model: null,\n      tokens_in: null,\n      tokens_out: null,\n      latency_ms: null,\n      provider: 'handoff_humano'\n    };\n  } else {\n    const ok = llm && llm.status === 'ok' && llm.response;\n    r = {\n      status: ok ? 'ok' : 'llm_error',\n      response: ok ? llm.response : 'Desculpe, nao consegui processar sua mensagem. Um atendente humano ira retornar.',\n      sender: scrub.sender,\n      pii_blocked: false,\n      pii_redaction_count: 0,\n      needs_human_handoff: !ok,\n      model: (llm && llm.model) || 'deepseek-v4-flash',\n      tokens_in: (llm && llm.tokens_in) || null,\n      tokens_out: (llm && llm.tokens_out) || null,\n      latency_ms: (llm && llm.latency_ms) || null,\n      provider: (llm && llm.config && llm.config.provider) || 'opencode_go'\n    };\n  }\n  out.push({ json: r });\n}\nreturn out;\n"
      },
      "id": "decide",
      "name": "Decide Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"{{ $json.status }}\",\n  \"response\": {{ JSON.stringify($json.response) }},\n  \"sender\": \"{{ $json.sender }}\",\n  \"pii_blocked\": {{ $json.pii_blocked }},\n  \"pii_redaction_count\": {{ $json.pii_redaction_count }},\n  \"needs_human_handoff\": {{ $json.needs_human_handoff }},\n  \"model\": {{ $json.model ? '\"' + $json.model + '\"' : 'null' }},\n  \"tokens_in\": {{ $json.tokens_in || 'null' }},\n  \"tokens_out\": {{ $json.tokens_out || 'null' }},\n  \"latency_ms\": {{ $json.latency_ms || 'null' }},\n  \"provider\": {{ JSON.stringify($json.provider) }}\n}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "Extract Message Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Fields": {
      "main": [
        [
          {
            "node": "PII Scrubber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PII Scrubber": {
      "main": [
        [
          {
            "node": "HTTP: OpenCode-Go",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: OpenCode-Go": {
      "main": [
        [
          {
            "node": "Decide Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}