infra/n8n-workflows/13-openclaw-chat-bridge.json
{
  "name": "13 - OpenClaw Chat Bridge (PII scrub + API forward)",
  "description": "Recebe msg do OpenClaw gateway, faz PII scrub inline (defense-in-depth), encaminha para API /webhook/evolution com X-API-Key auth.",
  "active": false,
  "nodes": [
    {
      "id": "9872cc154cea",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e264bd6",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "9e2b4b10",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openclaw-in",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "openclaw-webhook",
      "name": "OpenClaw Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "sender",
              "name": "sender",
              "value": "={{ $json.body.sender }}",
              "type": "string"
            },
            {
              "id": "canal",
              "name": "canal",
              "value": "={{ $json.body.canal || 'openclaw' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-openclaw-payload",
      "name": "Extract OpenClaw Payload",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst items = $input.all();\nconst out = [];\nconst patterns = [\n  { label: 'email',    re: /\\b[\\w.+-]+@[\\w-]+\\.[\\w.-]+\\b/g },\n  { label: 'cpf',      re: /\\b\\d{3}\\.\\d{3}\\.\\d{3}-?\\d{2}\\b/g },\n  { label: 'rg',       re: /\\b\\d{1,2}\\.\\d{3}\\.?\\d{3}-?[\\dxX]\\b/g },\n  { label: 'phone_br', re: /(?:\\+?55\\s?)?\\(?\\d{2}\\)?\\s?9?\\d{4}[\\s-]?\\d{4}/g },\n  { label: 'cnpj',     re: /\\b\\d{2}\\.?\\d{3}\\.\\d{3}\\/\\d{4}-?\\d{2}\\b/g },\n  { label: 'placa',    re: /\\b[A-Z]{3}-?\\d[A-Z]\\d{2}\\b/g },\n];\nfor (const item of items) {\n  let m = (item.json.message || '').toString();\n  const findings = {}; let cnt = 0;\n  for (const p of patterns) {\n    const matches = m.match(p.re);\n    if (matches && matches.length) { findings[p.label] = matches.length; cnt += matches.length; m = m.replace(p.re, '[' + p.label.toUpperCase() + '_REDACTED]'); }\n  }\n  out.push({ json: { ...item.json, scrubbed: m, pii_blocked: cnt > 0, pii_redaction_count: cnt, pii_findings: findings, ts: new Date().toISOString() } });\n}\nreturn out;\n"
      },
      "id": "pii-scrubber-openclaw",
      "name": "PII Scrubber OpenClaw",
      "type": "n8n-nodes-base.code",
      "position": [
        680,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/webhook/evolution",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"canal\":\"{{ $json.canal }}\",\"sender\":\"{{ $json.sender }}\",\"message\":\"{{ $json.scrubbed }}\",\"pii_blocked\":{{ $json.pii_blocked }},\"pii_redaction_count\":{{ $json.pii_redaction_count }},\"source\":\"openclaw\",\"ts\":\"{{ $json.ts }}\"}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "post-api-webhook-evolution",
      "name": "POST API Webhook Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        300
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"received\",\"sender\":\"{{ $json.sender }}\",\"scrubbed_by\":\"n8n-wf13\",\"pii_blocked\":{{ $json.pii_blocked }}}"
      },
      "id": "respond-openclaw",
      "name": "Respond OpenClaw",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1120,
        300
      ],
      "typeVersion": 1
    },
    {
      "id": "6d7efe7cd1fd",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "398b7469",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "3f9adc8891d8",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source\": \"n8n\", \"wf_name\": $workflow.name, \"wf_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id, \"status\": $execution.success ? 'success' : 'error', \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'), \"counters\": {  \"n8n_wf_executions_total\": 1}, \"gauges\": {  \"n8n_wf_error_rate\": $execution.success ? 0.0 : 1.0}}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "OpenClaw Webhook": {
      "main": [
        [
          {
            "node": "Extract OpenClaw Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract OpenClaw Payload": {
      "main": [
        [
          {
            "node": "PII Scrubber OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PII Scrubber OpenClaw": {
      "main": [
        [
          {
            "node": "POST API Webhook Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST API Webhook Evolution": {
      "main": [
        [
          {
            "node": "Respond OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "openclaw"
    }
  ]
}