infra/n8n-workflows/14-opencode-go-fallback.json
{
  "name": "14 - OpenCode-Go LLM Fallback (direct OpenAI-compat)",
  "description": "Se OpenClaw falha, chama OpenCode-Go diretamente via /v1/chat/completions. Nao toca PII (prompt vem ja scrubbed do caller).",
  "active": true,
  "nodes": [
    {
      "id": "5fb62205c3a4",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a277bbc4",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "fc4c5b35",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openclaw-fallback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "openclaw-fallback-trigger",
      "name": "OpenClaw Fallback Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt",
              "name": "prompt",
              "value": "={{ $json.body.prompt }}",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $json.body.session_id || 'n8n-fallback' }}",
              "type": "string"
            },
            {
              "id": "model",
              "name": "model",
              "value": "={{ $json.body.model || 'deepseek-v4-flash' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-prompt",
      "name": "Extract Prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENCODE_GO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{ $json.model }}\",\"messages\":[{\"role\":\"user\",\"content\":\"{{ $json.prompt }}\"}],\"max_tokens\":1024,\"temperature\":0.3}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "post-opencode-go-direct",
      "name": "POST OpenCode-Go Direct",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        680,
        300
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const c = item.json.choices && item.json.choices[0];\n  out.push({ json: {\n    status: 'ok',\n    response: (c && c.message && c.message.content) || 'fallback_empty',\n    model: item.json.model || 'deepseek-v4-flash',\n    tokens_in: (item.json.usage && item.json.usage.prompt_tokens) || null,\n    tokens_out: (item.json.usage && item.json.usage.completion_tokens) || null,\n    latency_ms: (item.json.latency_ms) || null,\n    provider: 'opencode_go_direct',\n    session_id: $('Extract Prompt').item.json.session_id,\n  }});\n}\nreturn out;\n"
      },
      "id": "parse-opencode-response",
      "name": "Parse OpenCode Response",
      "type": "n8n-nodes-base.code",
      "position": [
        900,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"{{ $json.status }}\",\"response\":{{ JSON.stringify($json.response) }},\"model\":{{ JSON.stringify($json.model) }},\"provider\":{{ JSON.stringify($json.provider) }},\"tokens_in\":{{ $json.tokens_in || 0 }},\"tokens_out\":{{ $json.tokens_out || 0 }}}"
      },
      "id": "respond-opencode-go",
      "name": "Respond OpenCode-Go",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1120,
        300
      ],
      "typeVersion": 1
    },
    {
      "id": "c47933d4f537",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "caf2a2aa",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "32796e2f65fe",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source\": \"n8n\", \"wf_name\": $workflow.name, \"wf_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id, \"status\": $execution.success ? 'success' : 'error', \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'), \"counters\": {  \"n8n_wf_executions_total\": 1}, \"gauges\": {  \"n8n_wf_error_rate\": $execution.success ? 0.0 : 1.0}}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "OpenClaw Fallback Trigger": {
      "main": [
        [
          {
            "node": "Extract Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Prompt": {
      "main": [
        [
          {
            "node": "POST OpenCode-Go Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST OpenCode-Go Direct": {
      "main": [
        [
          {
            "node": "Parse OpenCode Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenCode Response": {
      "main": [
        [
          {
            "node": "Respond OpenCode-Go",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "llm-fallback"
    }
  ]
}