infra/n8n-workflows/15-session-sync.json
{
  "name": "15 - Session Sync (Redis <-> DB 5min)",
  "description": "Sincroniza sessoes ativas DB para cache Redis. Pode tocar PII (external_id=telefone). LGPD: read-only, external_id ja eh publico para o cartorio. Cron 5min. Endpoints usados: GET /api/v1/atendimento/list-active?since_hours=24 (substituiu /sessao/list-active que nao existia). POST /sessao/sync REMOVIDO - sync pode ser job in-process.",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-5min",
      "name": "Cron 5min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.2notasudi.com.br/api/v1/atendimento/list-active?since_hours=24",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "X-Request-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-sessoes-ativas-db",
      "name": "GET Sessoes Ativas DB",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        300
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst items = $input.all();\nconst sessions = (items[0] && items[0].json && items[0].json.sessions) || [];\nreturn [{ json: { count: sessions.length, sessions: JSON.stringify(sessions), ts: new Date().toISOString(), source: 'n8n-wf15' } }];\n"
      },
      "id": "consolidar",
      "name": "Consolidar",
      "type": "n8n-nodes-base.code",
      "position": [
        680,
        300
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Cron 5min": {
      "main": [
        [
          {
            "node": "GET Sessoes Ativas DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Sessoes Ativas DB": {
      "main": [
        [
          {
            "node": "Consolidar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "session"
    }
  ]
}