infra/n8n-workflows/15-session-sync.json
{
  "name": "15 - Session Sync (Redis <-> DB 5min)",
  "description": "Sincroniza sessoes ativas DB para cache Redis. Pode tocar PII (external_id=telefone). LGPD: read-only, external_id ja eh publico para o cartorio. Cron 5min. Endpoints usados: GET /api/v1/atendimento/list-active?since_hours=24 (substituiu /sessao/list-active que nao existia). POST /sessao/sync REMOVIDO - sync pode ser job in-process.",
  "active": false,
  "nodes": [
    {
      "id": "cc4b9fdf90da",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2142838c",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "9b69e30c",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-5min",
      "name": "Cron 5min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.2notasudi.com.br/api/v1/atendimento/list-active?since_hours=24",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "X-Request-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-sessoes-ativas-db",
      "name": "GET Sessoes Ativas DB",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        300
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst items = $input.all();\nconst sessions = (items[0] && items[0].json && items[0].json.sessions) || [];\nreturn [{ json: { count: sessions.length, sessions: JSON.stringify(sessions), ts: new Date().toISOString(), source: 'n8n-wf15' } }];\n"
      },
      "id": "consolidar",
      "name": "Consolidar",
      "type": "n8n-nodes-base.code",
      "position": [
        680,
        300
      ],
      "typeVersion": 2
    },
    {
      "id": "9cb3fd1dbcab",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a9a5978",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "ea7fed47ebeb",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source\": \"n8n\", \"wf_name\": $workflow.name, \"wf_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id, \"status\": $execution.success ? 'success' : 'error', \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'), \"counters\": {  \"n8n_wf_executions_total\": 1}, \"gauges\": {  \"n8n_wf_error_rate\": $execution.success ? 0.0 : 1.0}}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "Cron 5min": {
      "main": [
        [
          {
            "node": "GET Sessoes Ativas DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Sessoes Ativas DB": {
      "main": [
        [
          {
            "node": "Consolidar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "session"
    }
  ]
}