infra/n8n-workflows/15-session-sync.json
{
  "name": "15 - Session Sync (Redis <-> DB 5min)",
  "description": "Sincroniza sessoes ativas Redis para DB. Pode tocar PII (cliente_id). LGPD review pendente.",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-5min",
      "name": "Cron 5min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.2notasudi.com.br/api/v1/sessao/list-active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-sessoes-ativas-redis",
      "name": "GET Sessoes Ativas Redis",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst items = $input.all();\nconst sessions = (items[0] && items[0].json && items[0].json.sessions) || [];\nreturn [{ json: { count: sessions.length, sessions: JSON.stringify(sessions), ts: new Date().toISOString() } }];\n"
      },
      "id": "diff-vs-db",
      "name": "Diff vs DB",
      "type": "n8n-nodes-base.code",
      "position": [
        680,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/sessao/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"count\":{{ $json.count }},\"sessions\":{{ $json.sessions }},\"ts\":\"{{ $json.ts }}\",\"source\":\"n8n-wf15\"}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "post-sync-to-db",
      "name": "POST Sync to DB",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        300
      ],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Cron 5min": {
      "main": [
        [
          {
            "node": "GET Sessoes Ativas Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Sessoes Ativas Redis": {
      "main": [
        [
          {
            "node": "Diff vs DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diff vs DB": {
      "main": [
        [
          {
            "node": "POST Sync to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "session"
    }
  ]
}