infra/n8n-workflows/16-prospeccao-enrichment.json
{
  "name": "16 - Prospeccao Lead Enrichment (Tier A/B/C scoring)",
  "description": "Recebe lead novo via webhook, calcula Tier A/B/C baseado em sinais publicos (ANOREG, GPTW, expansao geografica), grava no Supabase.",
  "active": true,
  "nodes": [
    {
      "id": "1093ece416fe",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b8ba8e6",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "de1cb4a8",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-novo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "lead-novo-webhook",
      "name": "Lead Novo Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nome",
              "name": "nome",
              "value": "={{ $json.body.nome }}",
              "type": "string"
            },
            {
              "id": "cartorio",
              "name": "cartorio",
              "value": "={{ $json.body.cartorio }}",
              "type": "string"
            },
            {
              "id": "cidade",
              "name": "cidade",
              "value": "={{ $json.body.cidade }}",
              "type": "string"
            },
            {
              "id": "uf",
              "name": "uf",
              "value": "={{ $json.body.uf }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-lead",
      "name": "Extract Lead",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const r = (item.json.receita_anoreg || 0);\n  let tier = 'C';\n  if (r > 50000000) tier = 'A';\n  else if (r > 10000000) tier = 'B';\n  out.push({ json: { ...item.json, tier, score_at: new Date().toISOString(), source: 'n8n-wf16' } });\n}\nreturn out;\n"
      },
      "id": "score-tier",
      "name": "Score Tier",
      "type": "n8n-nodes-base.code",
      "position": [
        680,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://db.2notasudi.com.br/rest/v1/prospeccao_leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"nome\":\"{{ $json.nome }}\",\"cartorio\":\"{{ $json.cartorio }}\",\"cidade\":\"{{ $json.cidade }}\",\"uf\":\"{{ $json.uf }}\",\"tier\":\"{{ $json.tier }}\",\"score_at\":\"{{ $json.score_at }}\",\"source\":\"n8n-wf16\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "post-lead-to-supabase",
      "name": "POST Lead to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        300
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"enriched\",\"tier\":\"{{ $json.tier }}\",\"cartorio\":\"{{ $json.cartorio }}\"}"
      },
      "id": "respond-enrichment",
      "name": "Respond Enrichment",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1120,
        300
      ],
      "typeVersion": 1
    },
    {
      "id": "ed050b48d1e5",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22cf2270",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "8ee927223dd4",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source\": \"n8n\", \"wf_name\": $workflow.name, \"wf_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id, \"status\": $execution.success ? 'success' : 'error', \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'), \"counters\": {  \"n8n_wf_executions_total\": 1}, \"gauges\": {  \"n8n_wf_error_rate\": $execution.success ? 0.0 : 1.0}}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "Lead Novo Webhook": {
      "main": [
        [
          {
            "node": "Extract Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead": {
      "main": [
        [
          {
            "node": "Score Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Tier": {
      "main": [
        [
          {
            "node": "POST Lead to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Lead to Supabase": {
      "main": [
        [
          {
            "node": "Respond Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "prospeccao"
    }
  ]
}