infra/n8n-workflows/19-cliente-criado.json
{
  "name": "19 - Cliente Criado (boas-vindas LGPD + menu)",
  "description": "Cliente novo no Supabase -> boas-vindas LGPD com opt-in. Sem consent -> alerta escrevente Chatwoot.",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cliente-criado",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cliente-criado-webhook",
      "name": "Cliente Criado Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cliente_id",
              "name": "cliente_id",
              "value": "={{ $json.body.cliente_id }}",
              "type": "string"
            },
            {
              "id": "telefone",
              "name": "telefone",
              "value": "={{ $json.body.telefone }}",
              "type": "string"
            },
            {
              "id": "consent",
              "name": "consent_granted",
              "value": "={{ $json.body.consent_granted }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-cliente",
      "name": "Extract Cliente",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-Tem Consentimento?",
              "leftValue": "={{ $json.consent_granted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tem-consentimento?",
      "name": "Tem Consentimento?",
      "type": "n8n-nodes-base.if",
      "position": [
        680,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "instanceName": "cartorio-2notas",
        "number": "={{ $('Extract Cliente').item.json.telefone }}",
        "text": "=Ola! Bem-vindo ao Cartorio 2 Notas de Uberlandia. Para continuar, confirme o consentimento LGPD: SIM. Para sair: PARAR."
      },
      "id": "evolution-boas-vindas",
      "name": "Evolution Boas-Vindas",
      "type": "n8n-nodes-evolution-api.evo-api",
      "position": [
        900,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "conversation",
        "operation": "create",
        "accountId": 1,
        "inboxId": 1,
        "sourceId": "cliente-sem-consent",
        "additionalFields": {
          "message": "Cliente {{ $('Extract Cliente').item.json.cliente_id }} sem consentimento. Necessario intervencao humana."
        }
      },
      "id": "chatwoot-sem-consent",
      "name": "Chatwoot Sem Consent",
      "type": "@devlikeapro/n8n-nodes-chatwoot.Chatwoot",
      "position": [
        900,
        400
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Cliente Criado Webhook": {
      "main": [
        [
          {
            "node": "Extract Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cliente": {
      "main": [
        [
          {
            "node": "Tem Consentimento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Consentimento?": {
      "main": [
        [
          {
            "node": "Evolution Boas-Vindas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chatwoot Sem Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "cliente"
    },
    {
      "name": "lgpd"
    }
  ]
}