infra/n8n-workflows/19-cliente-criado.json
{
  "name": "19 - Cliente Criado (boas-vindas LGPD + menu)",
  "description": "Cliente novo no Supabase -> boas-vindas LGPD com opt-in. Sem consent -> alerta escrevente Chatwoot.",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cliente-criado",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cliente-criado-webhook",
      "name": "Cliente Criado Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cliente_id",
              "name": "cliente_id",
              "value": "={{ $json.body.cliente_id }}",
              "type": "string"
            },
            {
              "id": "telefone",
              "name": "telefone",
              "value": "={{ $json.body.telefone }}",
              "type": "string"
            },
            {
              "id": "consent",
              "name": "consent_granted",
              "value": "={{ $json.body.consent_granted }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-cliente",
      "name": "Extract Cliente",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-Tem Consentimento?",
              "leftValue": "={{ $json.consent_granted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tem-consentimento?",
      "name": "Tem Consentimento?",
      "type": "n8n-nodes-base.if",
      "position": [
        680,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/cartorio-2notas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Extract Cliente').item.json.telefone }}"
            },
            {
              "name": "text",
              "value": "=Ola! Bem-vindo ao Cartorio 2 Notas de Uberlandia. Para continuar, confirme o consentimento LGPD: SIM. Para sair: PARAR."
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "evolution-boas-vindas",
      "name": "Evolution Boas-Vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chatwoot.2notasudi.com.br/api/v1/accounts/1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $env.CHATWOOT_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_id",
              "value": "={{ $json.source_id || $json.id || 'n8n-wf' }}"
            },
            {
              "name": "message",
              "value": "={{ $json.mensagem || $json.message || JSON.stringify($json) }}"
            },
            {
              "name": "inbox_id",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "chatwoot-sem-consent",
      "name": "Chatwoot Sem Consent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        400
      ],
      "options": {
        "timeout": 5000
      }
    }
  ],
  "connections": {
    "Cliente Criado Webhook": {
      "main": [
        [
          {
            "node": "Extract Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cliente": {
      "main": [
        [
          {
            "node": "Tem Consentimento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Consentimento?": {
      "main": [
        [
          {
            "node": "Evolution Boas-Vindas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chatwoot Sem Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "cliente"
    },
    {
      "name": "lgpd"
    }
  ]
}