infra/n8n-workflows/20-protocolo-criado.json
{
  "name": "20 - Protocolo Criado (notify + audit)",
  "description": "Protocolo novo -> notifica cliente WhatsApp + alerta escrevente Chatwoot + audit log.",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "protocolo-criado",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "protocolo-criado-webhook",
      "name": "Protocolo Criado Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "numero",
              "name": "numero",
              "value": "={{ $json.body.numero }}",
              "type": "string"
            },
            {
              "id": "cliente_id",
              "name": "cliente_id",
              "value": "={{ $json.body.cliente_id }}",
              "type": "string"
            },
            {
              "id": "telefone",
              "name": "telefone",
              "value": "={{ $json.body.telefone }}",
              "type": "string"
            },
            {
              "id": "tipo",
              "name": "tipo",
              "value": "={{ $json.body.tipo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-protocolo",
      "name": "Extract Protocolo",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/cartorio-2notas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "text",
              "value": "=Protocolo {{ $json.numero }} ({{ $json.tipo }}) criado. Acompanhe pelo nosso canal. Em ate 24h um escrevente ira analisar."
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "evolution-notifica-cliente",
      "name": "Evolution Notifica Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chatwoot.2notasudi.com.br/api/v1/accounts/1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $env.CHATWOOT_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_id",
              "value": "={{ $json.source_id || $json.id || 'n8n-wf' }}"
            },
            {
              "name": "message",
              "value": "={{ $json.mensagem || $json.message || JSON.stringify($json) }}"
            },
            {
              "name": "inbox_id",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "chatwoot-escrevente",
      "name": "Chatwoot Escrevente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/audit/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"protocolo.notificado\",\"actor\":\"n8n-wf20\",\"target\":\"{{ $json.numero }}\",\"details\":{\"cliente_id\":\"{{ $json.cliente_id }}\",\"tipo\":\"{{ $json.tipo }}\",\"ts\":\"{{ $now }}\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "post-audit-log",
      "name": "POST Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        300
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    }
  ],
  "connections": {
    "Protocolo Criado Webhook": {
      "main": [
        [
          {
            "node": "Extract Protocolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Protocolo": {
      "main": [
        [
          {
            "node": "Evolution Notifica Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution Notifica Cliente": {
      "main": [
        [
          {
            "node": "Chatwoot Escrevente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Escrevente": {
      "main": [
        [
          {
            "node": "POST Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "protocolo"
    }
  ]
}