infra/n8n-workflows/22-audit-verify-6h.json
{
  "name": "22 - Audit Verify 6h (SHA256 chain check)",
  "description": "Cron 6h verifica hash chain SHA256 do audit_log. Se chain_ok=false, alerta critico.",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 360
            }
          ]
        }
      },
      "id": "cron-6h",
      "name": "Cron 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/audit/verify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "post-audit-verify",
      "name": "POST Audit Verify",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        300
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-Chain OK?",
              "leftValue": "={{ $json.chain_ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "chain-ok?",
      "name": "Chain OK?",
      "type": "n8n-nodes-base.if",
      "position": [
        680,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chatwoot.2notasudi.com.br/api/v1/accounts/1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $env.CHATWOOT_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_id",
              "value": "={{ $json.source_id || $json.id || 'n8n-wf' }}"
            },
            {
              "name": "message",
              "value": "={{ $json.mensagem || $json.message || JSON.stringify($json) }}"
            },
            {
              "name": "inbox_id",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "alerta-audit-chain-quebrada",
      "name": "Alerta Audit Chain Quebrada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ],
      "options": {
        "timeout": 5000
      }
    }
  ],
  "connections": {
    "Cron 6h": {
      "main": [
        [
          {
            "node": "POST Audit Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Audit Verify": {
      "main": [
        [
          {
            "node": "Chain OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain OK?": {
      "main": [
        [
          {
            "node": "Alerta Audit Chain Quebrada",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "audit"
    },
    {
      "name": "cron"
    }
  ]
}