infra/n8n-workflows/25-metrics-collector.json
{
  "name": "25 - Metrics Collector (1min Prometheus)",
  "description": "Cron 1min coleta metricas locais N8N (uptime, memory) e envia para API /metrics/n8n.",
  "active": true,
  "nodes": [
    {
      "id": "68cdf1b3796a",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "289345da",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "3e6e0550",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "cron-1min",
      "name": "Cron 1min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "post-metrics-to-api",
      "name": "POST Metrics to API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        680,
        300
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/prometheus",
        "sendHeaders": false,
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-metrics-from-backend",
      "name": "Fetch Metrics from Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        580,
        300
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "options": {
        "timeout": 5000
      }
    },
    {
      "id": "cfec80b9253e",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01b9d08c",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "ed516fa70956",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"n8n\",\n  \"wf_name\": $workflow.name,\n  \"wf_id\": $workflow.id,\n  \"execution_id\": $execution.id,\n  \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id,\n  \"status\": $execution.success ? 'success' : 'error',\n  \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'),\n  \"counters\": {\n    \"n8n_wf_executions_total\": {\n      \"workflow=$workflow.name|status=success\": $execution.success ? 1 : 0,\n      \"workflow=$workflow.name|status=error\": $execution.success ? 0 : 1\n    },\n    \"n8n_wf_errors_total\": {\n      \"workflow=$workflow.name|error_type=generic\": $execution.success ? 0 : 1\n    }\n  },\n  \"gauges\": {\n    \"n8n_wf_execution_duration_seconds\": {\n      \"workflow=$workflow.name\": $now.diff($json.wf_started_at, 'seconds')\n    }\n  },\n  \"uptime_seconds\": $now.diff($json.wf_started_at, 'seconds')\n}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "Cron 1min": {
      "main": [
        [
          {
            "node": "Fetch Metrics from Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Metrics from Backend": {
      "main": [
        [
          {
            "node": "POST Metrics to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "metrics"
    },
    {
      "name": "cron"
    }
  ]
}