infra/n8n-workflows/25-metrics-collector.json
{
  "name": "25 - Metrics Collector (1min Prometheus)",
  "description": "Cron 1min coleta metricas locais N8N (uptime, memory) e envia para API /metrics/n8n.",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "cron-1min",
      "name": "Cron 1min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "post-metrics-to-api",
      "name": "POST Metrics to API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        680,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/prometheus",
        "sendHeaders": false,
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-metrics-from-backend",
      "name": "Fetch Metrics from Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        580,
        300
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": false,
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Cron 1min": {
      "main": [
        [
          {
            "node": "Fetch Metrics from Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Metrics from Backend": {
      "main": [
        [
          {
            "node": "POST Metrics to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "cartorio"
    },
    {
      "name": "metrics"
    },
    {
      "name": "cron"
    }
  ]
}
