infra/n8n-workflows/26-alerta-critico.json
{
  "name": "26 - Alerta Critico (Telegram IM + Chatwoot)",
  "nodes": [
    {
      "id": "ebe83c4c62f9",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "196c1c24",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "178a9b68",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alerta-critico",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "alerta-webhook",
      "name": "Alerta Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "typeVersion": 2.1,
      "webhookId": "febde5c5-878c-4d27-abad-de9e035fdcbe"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "service",
              "name": "service",
              "value": "={{ $json.body.service }}",
              "type": "string"
            },
            {
              "id": "severity",
              "name": "severity",
              "value": "={{ $json.body.severity || 'critical' }}",
              "type": "string"
            },
            {
              "id": "msg",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-alerta",
      "name": "Extract Alerta",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Request-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\":\"{{ $env.TELEGRAM_GUSTAVO_CHAT_ID }}\",\"text\":\"🚨 [{{ $json.severity | upper }}] {{ $json.service }}: {{ $json.message }}\",\"parse_mode\":\"HTML\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "post-telegram-im",
      "name": "POST Telegram IM",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        680,
        300
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chatwoot.2notasudi.com.br/api/v1/accounts/1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $env.CHATWOOT_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Request-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_id",
              "value": "={{ $json.source_id || $json.id || 'n8n-wf' }}"
            },
            {
              "name": "message",
              "value": "={{ $json.mensagem || $json.message || JSON.stringify($json) }}"
            },
            {
              "name": "inbox_id",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "chatwoot-critical",
      "name": "Chatwoot Critical",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ack\",\"workflow\":\"26-alerta-critico\",\"received\":true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-alerta",
      "name": "Respond Alerta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "id": "94837f0c09b1",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8a45db9",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "id": "ae741ccc0fc9",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source\": \"n8n\", \"wf_name\": $workflow.name, \"wf_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id ?? $workflow.id + ':' + $execution.id, \"status\": $execution.success ? 'success' : 'error', \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'), \"counters\": {  \"n8n_wf_executions_total\": 1}, \"gauges\": {  \"n8n_wf_error_rate\": $execution.success ? 0.0 : 1.0}}",
        "options": {
          "timeout": 5000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      }
    }
  ],
  "connections": {
    "Alerta Webhook": {
      "main": [
        [
          {
            "node": "Extract Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Alerta": {
      "main": [
        [
          {
            "node": "POST Telegram IM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Telegram IM": {
      "main": [
        [
          {
            "node": "Chatwoot Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Critical": {
      "main": [
        [
          {
            "node": "Respond Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "exportedAt": "2026-06-24T10:33:00-03:00",
    "exportedBy": "cartorio-n8n-reun",
    "sessionId": "mvs_3fb892d492d7489caf3c78f1e621ea6d",
    "workflowId": "2nSa2sw60lh6lhpb",
    "lastUpdated": "2026-06-24T13:32:29.055Z",
    "credentials_used": "(none - $env.TELEGRAM_BOT_TOKEN, $env.EVOLUTION_API_URL via httpRequest)",
    "m2_task": "M2.5 - patch WF26: added Respond to Webhook node (HTTP 500 -> 200)",
    "cron_schedule": "(cron variant?)",
    "note": "Pre-fix: HTTP 500 \"No Respond to Webhook node found\". Post-fix: HTTP 200. Upstream env vars still failing (C.1 P0 - awaiting Gustavo GO).",
    "versionId": "2aa4f58a-1c8e-48cb-a029-bca21b27d70d"
  }
}