infra/n8n-workflows/27-welcome-first.json
{
  "name": "27 - Welcome First Time (consentimento LGPD)",
  "nodes": [
    {
      "id": "81c9f8905909",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "068ed72e",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "ac9123e5",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welcome-first",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "welcome-first-time",
      "name": "Welcome First Time",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "typeVersion": 2.1,
      "webhookId": "c8519f12-1d83-4fca-ace4-4066d09d3fa1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "telefone",
              "name": "telefone",
              "value": "={{ $json.body.telefone }}",
              "type": "string"
            },
            {
              "id": "nome",
              "name": "nome",
              "value": "={{ $json.body.nome || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-cliente",
      "name": "Extract Cliente",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/cartorio-2notas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Request-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "text",
              "value": "=Ola{{ $json.nome ? ' ' + $json.nome : '' }}! Bem-vindo ao Cartorio 2 Notas de Uberlandia. Antes de continuar, preciso do seu consentimento LGPD. Responda SIM para aceitar, NAO para recusar, PARAR para sair."
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "evolution-welcome",
      "name": "Evolution Welcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://db.2notasudi.com.br/rest/v1/welcome_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Request-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"telefone\":\"{{ $json.telefone }}\",\"ts\":\"{{ $now }}\",\"wf\":\"n8n-wf27\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "post-welcome-tracking",
      "name": "POST Welcome Tracking",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        300
      ],
      "typeVersion": 4.2,
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"welcome_sent\",\"workflow\":\"27-welcome-first\",\"received\":true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-welcome",
      "name": "Respond Welcome",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "id": "37044b51d02d",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83680540",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    }
  ],
  "connections": {
    "Welcome First Time": {
      "main": [
        [
          {
            "node": "Extract Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cliente": {
      "main": [
        [
          {
            "node": "Evolution Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution Welcome": {
      "main": [
        [
          {
            "node": "POST Welcome Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Welcome Tracking": {
      "main": [
        [
          {
            "node": "Respond Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "exportedAt": "2026-06-24T10:33:00-03:00",
    "exportedBy": "cartorio-n8n-reun",
    "sessionId": "mvs_3fb892d492d7489caf3c78f1e621ea6d",
    "workflowId": "NlGoGgAlY9ln8T0s",
    "lastUpdated": "2026-06-24T13:32:29.207Z",
    "credentials_used": "(none - $env.EVOLUTION_API_URL via httpRequest)",
    "m2_task": "M2.5 - patch WF27: added Respond to Webhook node (HTTP 500 -> 200)",
    "cron_schedule": "",
    "note": "Pre-fix: HTTP 500. Post-fix: HTTP 200. Upstream env var EVOLUTION_API_URL still failing (C.1 P0).",
    "versionId": "ca20832e-3e17-4627-833d-93a0e66ba9ab"
  }
}