infra/n8n-workflows/31-telegram-listener.json
{
  "name": "31 - Telegram Listener (CartorioBot test)",
  "description": "Recebe updates do Telegram bot, faz PII scrub, chama LLM deepseek, responde via Telegram API. Canal oficial de TESTE do CartorioBot. WhatsApp continua sendo prod. Ref: docs/sessions/2026-06-23-Telegram-test.md",
  "active": true,
  "nodes": [
    {
      "id": "f34aad9e96fd",
      "name": "Init Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63215c7e",
              "name": "correlation_id",
              "value": "={{ $uuid }}",
              "type": "string"
            },
            {
              "id": "6fd53196",
              "name": "wf_started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-cartoriobot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-telegram",
      "name": "Webhook Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "telegram-cartoriobot-v1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extrai campos relevantes do update do Telegram\n// N8N 2.x Code node: $input JÁ É o item, $json é o shortcut\n// O webhook body vem em $json.body (NÃO em $json)\nconst item = $json || $input.json || {};\nconst body = item.body || item || {};\nconst message = body.message || {};\nconst chat = message.chat || {};\nconst from_user = message.from || {};\n\nreturn {\n  json: {\n    update_id: body.update_id,\n    message_id: message.message_id,\n    chat_id: chat.id,\n    chat_type: chat.type,\n    text: message.text || '',\n    from_user: {\n      id: from_user.id,\n      first_name: from_user.first_name || '',\n      username: from_user.username || '',\n      is_bot: from_user.is_bot || false\n    },\n    date: message.date,\n    is_command: (message.text || '').startsWith('/'),\n    is_bot_message: from_user.is_bot === true\n  }\n};"
      },
      "id": "extract-fields",
      "name": "Extract Telegram fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-bot",
              "leftValue": "={{ $json.is_bot_message }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-is-bot",
      "name": "Mensagem de bot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/integrations/opencode/test",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "084c39fb5c18f7d0f9cfb1cb7ee3ffa9716d199346bb11555b67f6929ff36239"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Canal",
              "value": "telegram"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Voce eh o assistente do 2o Servico Notarial de Uberlandia. Responda em portugues, tom cordial, maximo 3 paragrafos. Mensagem do cliente (com PII ja redacted): {{ $json.text }}\",\n  \"model\": \"deepseek-v4-flash\",\n  \"temperature\": 0.3,\n  \"consent_granted\": true,\n  \"actor_id\": \"telegram:{{ $json.from_user.id }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "llm-deepseek",
      "name": "LLM: deepseek-v4-flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8859206262:AAHNZ1a5L9O0U_4sXXTWQAVtEI4BnQjPH_Q/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Extract Telegram fields').first().json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.response }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            },
            {
              "name": "reply_to_message_id",
              "value": "={{ $('Extract Telegram fields').first().json.message_id }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "send-telegram",
      "name": "Telegram: sendMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/audit/verify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "084c39fb5c18f7d0f9cfb1cb7ee3ffa9716d199346bb11555b67f6929ff36239"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "audit-log",
      "name": "Audit chain verify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        300
      ],
      "options": {
        "timeout": 5000
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"chat_id\": {{ $json.chat_id }},\n  \"agent\": \"cartorio-bot (deepseek-v4-flash)\"\n}"
      },
      "id": "respond-ok",
      "name": "Respond OK (200)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "id": "7c15180b13a5",
      "name": "Log Final Correlation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a78c7569",
              "name": "log_json",
              "value": "={\"ts\": $now.toISO(), \"level\": \"info\", \"workflow\": $workflow.name, \"workflow_id\": $workflow.id, \"execution_id\": $execution.id, \"correlation_id\": $json.correlation_id, \"wf_started_at\": $json.wf_started_at, \"duration_ms\": $now.diff($json.wf_started_at, 'milliseconds'), \"success\": $execution.success, \"error\": $json.error ?? null}",
              "type": "string"
            }
          ]
        },
        "options": {
          "renameConflict": "longestVariableName"
        }
      }
    }
  ],
  "connections": {
    "Webhook Telegram": {
      "main": [
        [
          {
            "node": "Extract Telegram fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Telegram fields": {
      "main": [
        [
          {
            "node": "Mensagem de bot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de bot?": {
      "main": [
        [
          {
            "node": "Respond OK (200)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM: deepseek-v4-flash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: deepseek-v4-flash": {
      "main": [
        [
          {
            "node": "Telegram: sendMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: sendMessage": {
      "main": [
        [
          {
            "node": "Audit chain verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit chain verify": {
      "main": [
        [
          {
            "node": "Respond OK (200)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "telegram"
    },
    {
      "name": "test"
    },
    {
      "name": "cartoriobot"
    }
  ],
  "meta": null
}