infra/n8n-workflows/32-alertas-telegram-pietra.json
{
  "name": "Alertas Telegram GRUPO Pietra",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-trigger-1",
      "name": "Cron 5min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.2notasudi.com.br/api/v1/health/radar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-radar-1",
      "name": "GET /health/radar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "green",
              "operator": {
                "type": "string",
                "operation": "notEquals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-unhealthy-1",
      "name": "IF unhealthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_GRUPO_PIETRA_CHAT_ID }}",
        "text": "=🚨 ALERTA CARTOERIO\n\nStatus: {{ $json.status }}\nOffline: {{ $json.offline_count }}\nChecks: {{ $now.toISO() }}\n\n{{ JSON.stringify($json.integracoes, null, 2) }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2",
          "disable_notification": false
        }
      },
      "id": "telegram-alert-1",
      "name": "Telegram GRUPO Pietra",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/metrics/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CARTORIO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"n8n\",\n  \"wf_name\": $workflow.name,\n  \"wf_id\": $workflow.id,\n  \"execution_id\": $execution.id,\n  \"status\": $execution.success ? 'success' : 'error',\n  \"duration_seconds\": $now.diff($json.wf_started_at, 'seconds'),\n  \"counters\": {\n    \"n8n_wf_executions_total\": 1,\n    \"n8n_alerts_sent_total\": 1\n  }\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "report-metrics-b11",
      "name": "Report Metrics N8N",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Cron 5min": {
      "main": [
        [
          {
            "node": "GET /health/radar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /health/radar": {
      "main": [
        [
          {
            "node": "IF unhealthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF unhealthy?": {
      "main": [
        [
          {
            "node": "Telegram GRUPO Pietra",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report Metrics N8N",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram GRUPO Pietra": {
      "main": [
        [
          {
            "node": "Report Metrics N8N",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "alerts",
      "id": "alerts-tag-1"
    },
    {
      "name": "telegram",
      "id": "telegram-tag-1"
    },
    {
      "name": "pietra",
      "id": "pietra-tag-1"
    }
  ],
  "active": false,
  "id": "wf-alertas-telegram-pietra",
  "meta": {
    "description": "SQUAD B B11 - WF que polla /health/radar a cada 5min. Se status != green, envia Telegram GRUPO Pietra com payload de diagnostico. Envia metrics Prometheus (B10) ao final."
  }
}
