infra/n8n-workflows/evo-in.json
{
  "name": "EVO-IN - Evolution Webhook Inbound",
  "description": "Recebe webhooks da Evolution API (MESSAGES_UPSERT, MESSAGES_UPDATE, CONNECTION_UPDATE, QRCODE_UPDATED) e repassa para o backend cartorio API (/api/v1/webhook/evolution).",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evo-in",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-evo-in-1",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "evo-in"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.2notasudi.com.br/api/v1/webhook/evolution",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-API-Key", "value": "={{ $env.CARTORIO_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "X-Evolution-Webhook-Secret", "value": "={{ $env.EVOLUTION_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body || $json) }}",
        "options": {"timeout": 10000}
      },
      "id": "http-forward-1",
      "name": "POST to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {"type": "number", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success-1",
      "name": "If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_ERROR_ALERT_URL || 'https://api.2notasudi.com.br/api/v1/atendimento' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-API-Key", "value": "={{ $env.CARTORIO_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"telefone\": \"5534999999999\", \"motivo\": \"ALERTA evo-in: HTTP {{ $json.statusCode }} - {{ $json.body?.message || 'sem mensagem' }}\", \"origem\": \"evo-in-error\", \"prioridade\": \"alta\"}",
        "options": {"timeout": 5000}
      },
      "id": "alert-error-1",
      "name": "Alert Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 460]
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [[{"node": "POST to Backend", "type": "main", "index": 0}]]
    },
    "POST to Backend": {
      "main": [[{"node": "If Success", "type": "main", "index": 0}]]
    },
    "If Success": {
      "main": [
        [],
        [{"node": "Alert Error", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "tags": [
    {"name": "cartorio"},
    {"name": "evolution"},
    {"name": "webhook-inbound"}
  ]
}
